In [11]:
import pandas as pd

In [25]:
df_sim_low = pd.read_csv('심교(저학년) 패널 데이터.csv')
df_sim_high = pd.read_csv('심교(고학년) 패널 데이터.csv')
df_jeon = pd.read_csv('전선 패널 데이터.csv')

In [26]:
df_jeon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3530 entries, 0 to 3529
Data columns (total 45 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년도          3530 non-null   int64
 1   학기          3530 non-null   object
 2   학수번호        3530 non-null   object
 3   이수구분        3530 non-null   object
 4   과목번호        3530 non-null   int64
 5   교과목명        3530 non-null   object
 6   영문교과목명      3530 non-null   object
 7   학점          3530 non-null   int64
 8   시간          3530 non-null   int64
 9   개설학년        3530 non-null   float64
 10  수강학과        3530 non-null   object
 11  개설학과        3530 non-null   object
 12  제청학과        3530 non-null   object
 13  강의종류        3530 non-null   object
 14  강의유형        3530 non-null   object
 15  교강사명        3530 non-null   object
 16  강의요시        3530 non-null   object
 17  총수강인원       3530 non-null   int64
 18  (학부)수강인원    3530 non-null   int64
 19  (대학원)수강인원   3530 non-null   int64
 20  전체학년 제한인원   3530 non-null   int64
 21  전체학년 수강바구니  3530 non-null   int64
 22  전체학년 경쟁률    3530 non-null   float64
 23  4학년 제한인원    3530 non-null   int64
 24  4학년 수강바구니   3530 non-null   int64
 25  4학년 경쟁률     3530 non-null   float64
 26  3학년 제한인원    3530 non-null   int64
 27  3학년 수강바구니   3530 non-null   int64
 28  3학년 경쟁률     3530 non-null   float64
 29  2학년 제한인원    3530 non-null   float64
 30  2학년 수강바구니   3530 non-null   int64
 31  2학년 경쟁률     3530 non-null   float64
 32  1학년 제한인원    3530 non-null   float64
 33  1학년 수강바구니   3530 non-null   int64
 34  1학년 경쟁률     3530 non-null   float64
 35  요일          3515 non-null   object
 36  건물명         3515 non-null   object
 37  일주일 중 수업횟수  3530 non-null   float64
 38  시간대         3515 non-null   object
 39  층           3515 non-null   object
 40  분반 개수       3530 non-null   int64
 41  영어강의        3530 non-null   float64
 42  절대평가 유무     3530 non-null   int64
 43  점심시간 포함 개수  3530 non-null   int64
 44  고학년         3530 non-null   int64
dtypes: float64(10), int64(19), object(16)
memory usage: 1.2+ MB

In [27]:
df_sim_low['개설학과'].unique()

array(['상허교양대학'], dtype=object)

In [28]:
df_sim_high['개설학과'].unique()

array(['상허교양대학'], dtype=object)

In [44]:
df_jeon[df_jeon['년도']==2022]['개설학과'].unique()

array(['유럽문화학연계전공', '휴먼ICT연계전공', '글로벌MICE연계전공', '인문상담치유연계전공',
       '통일인문교육연계전공', '국어국문학과', '영어영문학과', '중어중문학과', '철학과', '사학과',
       '문화콘텐츠학과', '미디어커뮤니케이션학과', '지리학과', '컴퓨터공학부', '사회환경공학부', '생물공학과',
       '산업공학과', '전기전자공학부', '화학공학부', 'K뷰티산업융합학과', '기계항공공학부', '신산업융합학과',
       '산업디자인학과', '의상디자인학과', '현대미술학과', '커뮤니케이션디자인학과', '영상영화학과', '일어교육과',
       '수학교육과', '체육교육과', '음악교육과', '영어교육과', '교육공학과', '수의과대학', '수의학과',
       '물리학과', '화학과', '수학과', '생명과학특성학과', '동물자원과학과', '식량자원과학과',
       '축산식품생명공학과', '식품유통공학과', '환경보건과학과', '산림조경학과', '미래에너지공학과',
       '스마트운행체공학과', '스마트ICT융합공학과', '화장품공학과', '줄기세포재생공학과', '의생명공학과',
       '시스템생명공학과', '융합생명공학과', '경영학과', '기술경영학과', '리빙디자인학과', '건축학부',
       '융합인재학부', '정치외교학과', '행정학과', '경제학과', '국제무역학과', '응용통계학과', '융합인재학과',
       '글로벌비즈니스학과', '부동산학과', '반려동물융합전공', '융합치유전공', '도시디자인융합전공',
       '실감미디어콘텐츠융합전공', '실감미디어공학융합전공'], dtype=object)

In [40]:
df_jeon[(df_jeon['년도']==2022)&(df_jeon['개설학과']=='수의과대학')]

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,요일,건물명,일주일 중 수업횟수,시간대,층,분반 개수,영어강의,절대평가 유무,점심시간 포함 개수,고학년
652,2022,2학기,BIAA62363,전선,3705,통합진단학1,INTEGRATED DIAGNOSTICS 1,1,2,3.0,...,월,수의학관,1.0,17:00~19:00,5,2,0.0,0,0,1
653,2022,2학기,BIAA62363,전선,3706,통합진단학1,INTEGRATED DIAGNOSTICS 1,1,2,3.0,...,월,수의학관,1.0,17:00~19:00,4,2,0.0,0,0,1

In [41]:
df_jeon[df_jeon['개설학과']=='융합인재학부']

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,요일,건물명,일주일 중 수업횟수,시간대,층,분반 개수,영어강의,절대평가 유무,점심시간 포함 개수,고학년
976,2022,2학기,BQAC53318,전선,4061,동서양의사상과윤리,THOUGHTS AND ETHICS OF THE EAST AND THE WEST,3,3,4.0,...,금,상허관,1.0,12:00~15:00,3,1,0.0,0,1,1
977,2022,2학기,BQAC54765,전선,4062,법과문화,LAW AND CULTURE,3,3,4.0,...,"월, 수","상허관, 상허관",2.0,"12:00~13:30, 13:30~15:00","3, 3",1,0.0,0,1,1
2151,2023,2학기,BQAC53318,전선,4058,동서양의사상과윤리,THOUGHTS AND ETHICS OF THE EAST AND THE WEST,3,3,4.0,...,"화, 금","상허관, 상허관",2.0,"17:00~18:00, 13:00~15:00","3, 3",1,0.0,0,1,1
2152,2023,2학기,BQAC54765,전선,4059,법과문화,LAW AND CULTURE,3,3,4.0,...,"월, 수","상허관, 상허관",2.0,"12:00~13:30, 13:30~15:00","3, 3",1,0.0,0,1,1

# 재학생 통계