In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_22 = pd.read_excel('C:/Users/baekd/OneDrive/바탕 화면/경제자료분석/Team project/data/수강바구니경쟁률및수강인원(22년 2학기 찐최종).xlsx')
df_23 = pd.read_excel('C:/Users/baekd/OneDrive/바탕 화면/경제자료분석/Team project/data/수강바구니경쟁률및수강인원(23년 2학기 찐최종).xlsx')
df_24 = pd.read_excel('C:/Users/baekd/OneDrive/바탕 화면/경제자료분석/Team project/data/수강바구니경쟁률및수강인원(24년 2학기 찐최종).xlsx')

In [3]:
df_22.head()

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,4학년 경쟁률,3학년 제한인원,3학년 수강바구니,3학년 경쟁률,2학년 제한인원,2학년 수강바구니,2학년 경쟁률,1학년 제한인원,1학년 수강바구니,1학년 경쟁률
0,2022,2학기,BKYA09574,교직,800,교육평가,EDUCATIONAL EVALUATION,2,2,3,...,0.17,42,7,0.17,6,3,0.50,6,0,0.0
1,2022,2학기,BKYA11528,교직,801,교육방법및교육공학,EDUCATIONAL METHODS & TECHNOLOGY,2,2,3,...,0.17,42,3,0.07,6,3,0.50,6,0,0.0
2,2022,2학기,BKYA11533,교직,802,교육사회,SOCIOLOGY OF EDUCATION,2,2,4,...,0.05,6,7,1.17,6,0,0.00,6,0,0.0
3,2022,2학기,BKYA11539,교직,803,교육심리,EDUCATIONAL PSYCHOLOGY,2,2,2,...,0.25,4,7,1.75,28,15,0.54,4,2,0.5
4,2022,2학기,BKYA11546,교직,804,교육철학및교육사,EDUCATIONAL PHILOSOPHY & HISTORY,2,2,3,...,0.50,28,20,0.71,4,1,0.25,4,0,0.0

In [4]:
df_23.head()

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,4학년 경쟁률,3학년 제한인원,3학년 수강바구니,3학년 경쟁률,2학년 제한인원,2학년 수강바구니,2학년 경쟁률,1학년 제한인원,1학년 수강바구니,1학년 경쟁률
0,2023,2학기,BKYA09574,교직,800,교육평가,EDUCATIONAL EVALUATION,2,2,3,...,1.00,26,11,0.42,2,1,0.50,2.0,0,0.00
1,2023,2학기,BKYA11528,교직,801,교육방법및교육공학,EDUCATIONAL METHODS & TECHNOLOGY,2,2,3,...,0.20,37,3,0.08,5,0,0.00,5.0,0,0.00
2,2023,2학기,BKYA11533,교직,802,교육사회,SOCIOLOGY OF EDUCATION,2,2,4,...,0.00,4,0,0.00,4,0,0.00,4.0,0,0.00
3,2023,2학기,BKYA11539,교직,803,교육심리,EDUCATIONAL PSYCHOLOGY,2,2,2,...,0.25,4,2,0.50,36,1,0.03,4.0,1,0.25
4,2023,2학기,BKYA11546,교직,804,교육철학및교육사,EDUCATIONAL PHILOSOPHY & HISTORY,2,2,3,...,1.33,23,4,0.17,3,0,0.00,3.0,0,0.00

In [5]:
df_24.head()

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,4학년 경쟁률,3학년 제한인원,3학년 수강바구니,3학년 경쟁률,2학년 제한인원,2학년 수강바구니,2학년 경쟁률,1학년 제한인원,1학년 수강바구니,1학년 경쟁률
0,2024,2학기,BKYA09574,교직,800,교육평가,EDUCATIONAL EVALUATION,2,2,3,...,1.33,21,6,0.29,3.0,7,2.33,3.0,0,0.0
1,2024,2학기,BKYA11528,교직,801,교육방법및교육공학,EDUCATIONAL METHODS & TECHNOLOGY,2,2,3,...,0.67,21,3,0.14,3.0,2,0.67,3.0,0,0.0
2,2024,2학기,BKYA11533,교직,802,교육사회,SOCIOLOGY OF EDUCATION,2,2,4,...,0.00,3,4,1.33,1.0,2,2.00,1.0,0,0.0
3,2024,2학기,BKYA11539,교직,803,교육심리,EDUCATIONAL PSYCHOLOGY,2,2,2,...,0.33,3,1,0.33,21.0,3,0.14,3.0,0,0.0
4,2024,2학기,BKYA11546,교직,804,교육철학및교육사,EDUCATIONAL PHILOSOPHY & HISTORY,2,2,3,...,1.00,21,3,0.14,3.0,2,0.67,3.0,0,0.0

In [6]:
df_22.columns

Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률'],
      dtype='object')

In [7]:
# 이수구분이 전선과 심교인 행들만 남기기
dfs = [df_22, df_23, df_24]

for i, df in enumerate(dfs):
    dfs[i] = df[df['이수구분'].isin(['전선', '심교'])]

df_22 = dfs[0]
df_23 = dfs[1]
df_24 = dfs[2]

In [8]:
# 각 데이터프레임 데이터 개수 및 피처 개수 확인
print(df_22.shape)
print(df_23.shape)
print(df_24.shape)

(1404, 37)
(1393, 37)
(1489, 37)

In [9]:
import pandas as pd
import re

# 시간 매핑 딕셔너리 생성
def get_time_range(start_period, end_period):
    """주어진 교시 번호에 따라 시작 시간과 종료 시간을 매핑"""
    periods = {
        1: ('09:00', '09:30'), 2: ('09:30', '10:00'), 3: ('10:00', '10:30'), 4: ('10:30', '11:00'),
        5: ('11:00', '11:30'), 6: ('11:30', '12:00'), 7: ('12:00', '12:30'), 8: ('12:30', '13:00'),
        9: ('13:00', '13:30'), 10: ('13:30', '14:00'), 11: ('14:00', '14:30'), 12: ('14:30', '15:00'),
        13: ('15:00', '15:30'), 14: ('15:30', '16:00'), 15: ('16:00', '16:30'), 16: ('16:30', '17:00'),
        17: ('17:00', '17:30'), 18: ('17:30', '18:00'),
        19: ('18:15', '19:00'), 20: ('19:00', '19:45'), 21: ('19:45', '20:30'), 22: ('20:30', '21:15'),
        23: ('21:15', '22:00')
    }

    start_period = str(start_period).zfill(2)
    end_period = str(end_period).zfill(2)

    start_time, _ = periods[int(start_period)]
    _, end_time = periods[int(end_period)]

    return f"{start_time}~{end_time}"


# 건물명 매핑
building_keywords = [
    '경영', '상허관', '사', '예', '언어원', '법', '종강', '의', '생', '동', '산학', '수', '새', '건',
    '부', '문', '공A', '공B', '공C', '신공', '이', '창', '공D', '체육관', '연구동', '동L', '중장비', '공별', '농', '입', '교육'
]
mapped_names = [
    '경영관', '상허관', '교육과학관', '예술문화관', '언어교육관', '법학관', '법학관', '의생명과학연구관',
    '생명과학관', '동물생명과학관', '산학협동관', '수의학관', '새천년관', '건축관', '해봉부동산학관',
    '인문학관', 'A공학관', 'B공학관', 'C공학관', '신공학관', '과학관', '창의관', 'D공학관', '체육관',
    '연구동', '동물생명과학관', '중장비동', '공학관별관', '생명과학관부속동', '입학정보관', '교육과학관'
]
building_map = dict(zip(building_keywords, mapped_names))


def extract_info(row):
    # 입력값이 NaN일 경우 그대로 반환
    if pd.isna(row):
        return row, row, row, row, row

    # NaN이 아닌 경우 처리
    cleaned_row = re.sub(r'\(.*?\)', '', row)

    # 요일 추출
    days = re.findall(r'[월화수목금토일]', cleaned_row)

    # 일주일 중 수업 횟수 계산
    class_count = len(row.split(','))

    # 시간대
    times = re.findall(r'(\d{2})-(\d{2})', row)  # '04-06' 등 추출 (시작교시, 종료교시)
    mapped_times = [get_time_range(start, end) for start, end in times]

    # 소괄호 안의 건물명만 추출
    buildings = re.findall(r'\((.*?)\)', row)  # 소괄호 안의 문자열 추출
    mapped_buildings = []

    for building in buildings:
        # 건물명 매핑
        for keyword in building_keywords:
            if keyword in building:
                mapped_buildings.append(building_map[keyword])
                break

    # 층수 추출: 건물명 바로 뒤의 숫자 추출
    floor_numbers = []
    building_floor_pattern = r'(\D+)(\d)'  # 건물명 뒤에 있는 숫자 하나를 추출 (예: 공C487 -> 4)

    for building in buildings:
        match = re.search(building_floor_pattern, building)
        if match:
            floor_numbers.append(match.group(2))  # 두 번째 그룹: 숫자 (예: 4)

    return ', '.join(days), ', '.join(mapped_buildings), class_count, ', '.join(mapped_times), ', '.join(floor_numbers)

In [10]:
# 새 컬럼 생성
df_22[['요일', '건물명', '일주일 중 수업횟수', '시간대', '층']] = df_22['강의요시'].apply(lambda x: pd.Series(extract_info(x)))
df_23[['요일', '건물명', '일주일 중 수업횟수', '시간대', '층']] = df_23['강의요시'].apply(lambda x: pd.Series(extract_info(x)))
df_24[['요일', '건물명', '일주일 중 수업횟수', '시간대', '층']] = df_24['강의요시'].apply(lambda x: pd.Series(extract_info(x)))

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_27008\257426948.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_24[['요일', '건물명', '일주일 중 수업횟수', '시간대', '층']] = df_24['강의요시'].apply(lambda x: pd.Series(extract_info(x)))
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_27008\257426948.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_24[['요일', '건물명', '일주일 중 수업횟수', '시간대', '층']] = df_24['강의요시'].apply(lambda x: pd.Series(extract_info(x)))
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_27008\257426948.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_24[['요일', '건물명', '일주일 중 수업횟수', '시간대', '층']] = df_24['강의요시'].apply(lambda x: pd.Series(extract_info(x)))
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_27008\257426948.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_24[['요일', '건물명', '일주일 중 수업횟수', '시간대', '층']] = df_24['강의요시'].apply(lambda x: pd.Series(extract_info(x)))
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_27008\257426948.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_24[['요일', '건물명', '일주일 중 수업횟수', '시간대', '층']] = df_24['강의요시'].apply(lambda x: pd.Series(extract_info(x)))

# 대면 vs 비대면

In [11]:
df_22['강의종류'].unique()

array(['일반', 'e-러닝(녹화)', 'B-러닝(녹화+대면)', 'B-러닝(실시간+녹화+대면)', 'B-러닝(실시간+대면)',
       'e-러닝(실시간+녹화)'], dtype=object)

In [12]:
df_23['강의종류'].unique()

array(['일반', 'e-러닝(녹화)', 'B-러닝(녹화+대면)', 'B-러닝(실시간+녹화+대면)', 'B-러닝(실시간+대면)'],
      dtype=object)

In [13]:
df_24['강의종류'].unique()

array(['일반', 'e-러닝(녹화)', 'B-러닝(녹화+대면)', 'B-러닝(실시간+녹화+대면)', 'B-러닝(실시간+대면)',
       nan], dtype=object)

In [14]:
df_24[df_24['강의종류'].isna()]

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,2학년 수강바구니,2학년 경쟁률,1학년 제한인원,1학년 수강바구니,1학년 경쟁률,요일,건물명,일주일 중 수업횟수,시간대,층
1726,2024,2학기,RABA65191,전선,4379,실감미디어컴퓨팅기초,INTRODUCTION TO REALISTIC MEDIA PROGRAMMING,3,4,1,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1727,2024,2학기,RABA65220,전선,4380,글로벌리빙랩프로젝트,GLOBAL LIVING LAB PROJECT,3,3,3,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN

In [15]:
# 강의 종류를 알 수 없는 데이터는 제거
df_24 = df_24.drop(index=[1726, 1727])

In [16]:
def update_lecture_type(df):
    """
    '강의종류' 컬럼 값을 다음 조건에 따라 업데이트:
    1. '일반' -> '대면'
    2. 'e-러닝'이 포함된 값 -> 'e-러닝'
    3. 'B-러닝'이 포함된 값 -> 'B-러닝'
    """
    df['강의종류'] = df['강의종류'].replace(
        {
            '일반': '대면',
            **{v: 'e-러닝' for v in df['강의종류'].unique() if 'e-러닝' in str(v)},
            **{v: 'B-러닝' for v in df['강의종류'].unique() if 'B-러닝' in str(v)}
        }
    )
    return df

# df_22, df_23, df_24에 적용
df_22 = update_lecture_type(df_22)
df_23 = update_lecture_type(df_23)
df_24 = update_lecture_type(df_24)

# 결과 확인
print(df_22['강의종류'].unique())
print(df_23['강의종류'].unique())
print(df_24['강의종류'].unique())

['대면' 'e-러닝' 'B-러닝']
['대면' 'e-러닝' 'B-러닝']
['대면' 'e-러닝' 'B-러닝']

In [17]:
df_22[df_22['강의요시'].isnull()]

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,2학년 수강바구니,2학년 경쟁률,1학년 제한인원,1학년 수강바구니,1학년 경쟁률,요일,건물명,일주일 중 수업횟수,시간대,층
1606,2022,2학기,BKUA58447,전선,4251,국내대학학점교류선-2,TRANSFER CREDIT,2,2,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1607,2022,2학기,BKUA58448,전선,4252,국내대학학점교류선-3,TRANSFER CREDIT,3,3,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1608,2022,2학기,BKUA58451,전선,4255,국내대학학점교류선-6,TRANSFER CREDIT,6,6,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1609,2022,2학기,BKUA64584,전선,4256,현장실습(학기제)1,CO-OP 1,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1610,2022,2학기,BKUA64585,전선,4257,현장실습(학기제)2,CO-OP 2,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1611,2022,2학기,BKUA64586,전선,4258,현장실습(학기제)3,CO-OP 3,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1612,2022,2학기,BKUA64587,전선,4259,현장실습(학기제)4,CO-OP 4,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1613,2022,2학기,BKUA64588,전선,4260,현장실습(학기제)5,CO-OP 5,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1614,2022,2학기,BKUA64766,전선,4261,현장실습(IPP)1,IPP1,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1615,2022,2학기,BKUA64767,전선,4262,현장실습(IPP)2,IPP2,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1616,2022,2학기,BKUA64768,전선,4263,현장실습(IPP)3,IPP3,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1617,2022,2학기,BKUA64769,전선,4264,현장실습(IPP)5,IPP5,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1618,2022,2학기,BKUA64774,전선,4265,현장실습(IPP)4,IPP4,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1619,2022,2학기,BKUA64776,전선,4266,현장실습(일학습병행)1,IPP-OJT1,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1620,2022,2학기,BKUA64777,전선,4267,현장실습(일학습병행)2,IPP-OJT2,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1621,2022,2학기,BKUA64778,전선,4268,현장실습(일학습병행)3,IPP-OJT3,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1622,2022,2학기,BKUA64779,전선,4269,현장실습(일학습병행)4,IPP-OJT4,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1623,2022,2학기,BKUA64780,전선,4270,현장실습(일학습병행)5,IPP-OJT5,3,8,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1624,2022,2학기,RAAA64678,전선,4271,디자인씽킹,DESIGN THINKING,3,4,1,...,4,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1640,2022,2학기,BKUA58394,전선,4288,드림학기설계1,DREAMPROJECT1,3,10,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1641,2022,2학기,BKUA58396,전선,4289,드림학기설계2,DREAMPROJECT2,3,10,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1642,2022,2학기,BKUA58398,전선,4290,드림학기설계3,DREAMPROJECT3,3,10,전체,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1643,2022,2학기,RAAA64859,전선,4292,메타버스크리에이터세미나,METAVERSE CREATOR SEMINAR,2,2,1,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1644,2022,2학기,RABA64831,전선,4301,메타버스의이해,UNDERSTANDING THE METAVERSE,3,3,2,...,1,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1645,2022,2학기,RABA64836,전선,4303,기초실감미디어프로그래밍,INTRODUCTION TO REALISTIC MEDIA PROGRAMMING,3,4,2,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1646,2022,2학기,RABA64840,전선,4306,풀스택서비스네트워킹,FULL-STACK SERVICE NETWORKING,3,3,3,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1647,2022,2학기,RABA64845,전선,4307,XR Project Management,XR PROJECT MANAGEMENT,3,3,4,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1648,2022,2학기,RABA64846,전선,4308,XR창업비즈니스모델,XR START-UP BUSINESS MODEL,3,3,2,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1649,2022,2학기,RABA64854,전선,4309,글로벌사회적가치와창업사례,GLOBAL SOCIAL VALUES AND STARTUP,3,3,3,...,1,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1650,2022,2학기,RABA64863,전선,4311,버추얼캐릭터워크숍,VIRTUAL CHARACTER WORKSHOP,3,3,2,...,1,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1651,2022,2학기,RABA64921,전선,4312,게임엔진기초:게임PX디자인,GAME ENGINE PROGRAMMING BAGICS,3,4,2,...,0,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
1652,2022,2학기,RABA64923,전선,4313,XR콘텐츠디자인워크숍(캡스톤디자인),XR CONTENTS DESIGN WORKSHOP,4,4,1,...,1,0.0,0,0,0.0,NaN,NaN,NaN,NaN,NaN

In [18]:
df_23[df_23['강의요시'].isnull()]

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,2학년 수강바구니,2학년 경쟁률,1학년 제한인원,1학년 수강바구니,1학년 경쟁률,요일,건물명,일주일 중 수업횟수,시간대,층
1590,2023,2학기,BKUA58394,전선,4251,드림학기설계1,DREAMPROJECT1,3,10,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1591,2023,2학기,BKUA58396,전선,4252,드림학기설계2,DREAMPROJECT2,3,10,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1592,2023,2학기,BKUA58398,전선,4253,드림학기설계3,DREAMPROJECT3,3,10,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1593,2023,2학기,BKUA58400,전선,4254,드림학기설계4,DREAMPROJECT4,3,10,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1595,2023,2학기,BKUA64766,전선,4256,현장실습(IPP)1,IPP1,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1596,2023,2학기,BKUA64767,전선,4257,현장실습(IPP)2,IPP2,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1597,2023,2학기,BKUA64768,전선,4258,현장실습(IPP)3,IPP3,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1598,2023,2학기,BKUA64774,전선,4259,현장실습(IPP)4,IPP4,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1599,2023,2학기,BKUA64769,전선,4260,현장실습(IPP)5,IPP5,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1600,2023,2학기,BKUA64776,전선,4261,현장실습(일학습병행)1,IPP-OJT1,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1601,2023,2학기,BKUA64777,전선,4262,현장실습(일학습병행)2,IPP-OJT2,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1602,2023,2학기,BKUA64778,전선,4263,현장실습(일학습병행)3,IPP-OJT3,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1603,2023,2학기,BKUA64779,전선,4264,현장실습(일학습병행)4,IPP-OJT4,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1604,2023,2학기,BKUA64780,전선,4265,현장실습(일학습병행)5,IPP-OJT5,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1605,2023,2학기,BKUA58448,전선,4268,국내대학학점교류선-3,TRANSFER CREDIT,3,3,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1606,2023,2학기,BKUA64584,전선,4272,현장실습(학기제)1,CO-OP 1,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1607,2023,2학기,BKUA64585,전선,4273,현장실습(학기제)2,CO-OP 2,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1608,2023,2학기,BKUA64586,전선,4274,현장실습(학기제)3,CO-OP 3,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1609,2023,2학기,BKUA64587,전선,4275,현장실습(학기제)4,CO-OP 4,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1610,2023,2학기,BKUA64588,전선,4276,현장실습(학기제)5,CO-OP 5,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1624,2023,2학기,RAAA64906,전선,4293,AR/VR콘텐츠실무,AR/VR CONTENTS PRACTICE,3,4,3,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1625,2023,2학기,RAAA64859,전선,4295,메타버스크리에이터세미나,METAVERSE CREATOR SEMINAR,2,2,1,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1626,2023,2학기,RAAA65188,전선,4296,실감디자인씽킹,DESIGN THINKING,3,3,1,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1627,2023,2학기,RAAA65189,전선,4297,실감디지털드로잉,DIGITAL DRAWING,3,3,1,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1628,2023,2학기,RAAA65211,전선,4298,실감미디어의이해,UNDERSTANDING OF REALISTIC EXPERIENCE,3,3,1,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1629,2023,2학기,RAAA64873,전선,4299,효과적인사회문제정의와아이디어,EFFECTIVE IDEAS FOR SOCIAL ISSUES,3,3,3,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1630,2023,2학기,RABA65205,전선,4301,XR기술PBL,XR TECHNOLOGY PBL,3,4,3,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1631,2023,2학기,RABA64846,전선,4303,XR창업비즈니스모델,XR START-UP BUSINESS MODEL,3,3,2,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1632,2023,2학기,RABA64923,전선,4304,XR콘텐츠디자인워크숍(캡스톤디자인),XR CONTENTS DESIGN WORKSHOP,3,3,2,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1633,2023,2학기,RABA11792,전선,4305,객체지향프로그래밍,OBJECT-ORIENTED PROGRAMMING,3,4,1,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1634,2023,2학기,RABA65196,전선,4306,게임엔진기초,GAME ENGINE PROGRAMMING BAGICS,3,4,2,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1635,2023,2학기,RABA65220,전선,4307,글로벌리빙랩프로젝트,GLOBAL LIVING LAB PROJECT,3,3,3,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1636,2023,2학기,RABA64854,전선,4308,글로벌사회적가치와창업사례,GLOBAL SOCIAL VALUES AND STARTUP,3,3,3,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1637,2023,2학기,RABA64853,전선,4309,기업가정신과벤처경영,ENTREPRENEURSHIP AND STARTUP BUSINESS,3,3,3,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1638,2023,2학기,RABA64861,전선,4310,버추얼모션캡처워크숍,VIRTUAL MOTION CAPTURE WORKSHOP,3,3,2,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1639,2023,2학기,RABA64863,전선,4311,버추얼캐릭터워크숍,VIRTUAL CHARACTER WORKSHOP,3,3,1,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1640,2023,2학기,RABA65209,전선,4312,실감3D캐릭터모델링,REALISTIC 3D CHARACTER MODELLING,3,4,2,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1641,2023,2학기,RABA65191,전선,4313,실감미디어컴퓨팅기초,INTRODUCTION TO REALISTIC MEDIA PROGRAMMING,3,4,1,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1642,2023,2학기,RABA64865,전선,4314,콘텐츠산업비즈니스전략,BUSINESS STRATEGY FOR CONTENTS INDUSTRY,3,3,3,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN

In [19]:
df_24[df_24['강의요시'].isnull()]

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,2학년 수강바구니,2학년 경쟁률,1학년 제한인원,1학년 수강바구니,1학년 경쟁률,요일,건물명,일주일 중 수업횟수,시간대,층
1618,2024,2학기,BKUA64584,전선,4245,현장실습(학기제)1,CO-OP 1,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1619,2024,2학기,BKUA64585,전선,4246,현장실습(학기제)2,CO-OP 2,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1620,2024,2학기,BKUA64586,전선,4247,현장실습(학기제)3,CO-OP 3,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1621,2024,2학기,BKUA64587,전선,4248,현장실습(학기제)4,CO-OP 4,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1622,2024,2학기,BKUA64588,전선,4249,현장실습(학기제)5,CO-OP 5,3,8,전체,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,2024,2학기,BKUA66885,전선,4405,학부논문작성연습1,THESIS WRITING PRACTICE1,0,0,4,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1753,2024,2학기,BKUA67406,전선,4406,학부논문작성연습2,THESIS WRITING PRACTICE2,0,0,4,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1754,2024,2학기,BKUA67406,전선,4407,학부논문작성연습2,THESIS WRITING PRACTICE2,0,0,4,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1755,2024,2학기,BKUA67406,전선,4408,학부논문작성연습2,THESIS WRITING PRACTICE2,0,0,4,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1756,2024,2학기,BKUA67406,전선,4409,학부논문작성연습2,THESIS WRITING PRACTICE2,0,0,4,...,0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN

In [20]:
# 강의요시가 결측값인 행들은 모두 제거 -> 어짜피 현장실습, 드림학기제, 학부논문작성 등등 수강신청을 따로 하는게 아니라서 제거함
dfs = [df_22, df_23, df_24]  # 처리할 데이터프레임 리스트
cleaned_dfs = [df.dropna(subset=['강의요시']) for df in dfs]  # '강의요시' 열에서 결측값 있는 행 제거

# cleaned_dfs는 [df_22, df_23, df_24] 순서로 클린된 데이터프레임을 포함합니다.
df_22, df_23, df_24 = cleaned_dfs  # 원래 변수에 다시 저장

# 분반 개수 컬럼 생성

In [21]:
# 학수번호가 같고 과목번호도 같은 행은 존재하지 않았음

# '학수번호'별로 그룹화하고, 각 그룹에서 '과목번호'의 고유값 개수를 계산
class_section_counts = df_22.groupby('학수번호')['과목번호'].nunique()

# 계산된 결과를 원래 데이터프레임에 매핑하여 '분반 개수' 열 생성
df_22['분반 개수'] = df_22['학수번호'].map(class_section_counts)

# 결과 확인
df_22['분반 개수'].unique()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_27008\1768579933.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_22['분반 개수'] = df_22['학수번호'].map(class_section_counts)

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [22]:
# '학수번호'별로 그룹화하고, 각 그룹에서 '과목번호'의 고유값 개수를 계산
class_section_counts = df_23.groupby('학수번호')['과목번호'].nunique()

# 계산된 결과를 원래 데이터프레임에 매핑하여 '분반 개수' 열 생성
df_23['분반 개수'] = df_23['학수번호'].map(class_section_counts)

# 결과 확인
df_23['분반 개수'].unique()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_27008\1956614403.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_23['분반 개수'] = df_23['학수번호'].map(class_section_counts)

array([1, 2, 3, 4, 5], dtype=int64)

In [23]:
# '학수번호'별로 그룹화하고, 각 그룹에서 '과목번호'의 고유값 개수를 계산
class_section_counts = df_24.groupby('학수번호')['과목번호'].nunique()

# 계산된 결과를 원래 데이터프레임에 매핑하여 '분반 개수' 열 생성
df_24['분반 개수'] = df_24['학수번호'].map(class_section_counts)

# 결과 확인
df_24['분반 개수'].unique()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_27008\1001473026.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_24['분반 개수'] = df_24['학수번호'].map(class_section_counts)

array([1, 2, 3, 4, 5, 6], dtype=int64)

# 절대평가인지 아닌지 이진변수

- 학과지정 영어강의 (교과목명이 영어이면서 원어강의)
- 수업유형이 플립드러닝, 하이브리드 클래스, 토론식강의, NCS(ABF제적용), 캡스톤(ABF제적용)


- 패스과목은 모두 0으로 떠서 맵핑하지 않음 -> 강의계획서 크롤링해서 확인해볼 수도?

In [24]:
# 종합강의시간표에서 교과목명이 영어고 원어강의인지 알아보기 위해 종강시 데이터 불러옴
jgs_22 = pd.read_excel('C:/Users/baekd/OneDrive/바탕 화면/경제자료분석/Team project/data/22-2 종강시.xlsx')
jgs_23 = pd.read_excel('C:/Users/baekd/OneDrive/바탕 화면/경제자료분석/Team project/data/23-2 종강시.xlsx')
jgs_24 = pd.read_excel('C:/Users/baekd/OneDrive/바탕 화면/경제자료분석/Team project/data/24-2 종강시.xlsx')

C:\Users\baekd\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\baekd\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\baekd\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [25]:
jgs_22.head(3)

,No,학년,학수번호,과목분야,교과번호,이수\n구분,과목\n번호,교과목명,영문교과목명,강의\n계획서,...,원어\n유형,현재\n인원,학부\n인원,대학원\n인원,제한\n인원,과목\n해설,강의\n유형,강의\n종류,영역,합반
0,1,1,BAAA00736,PHIL,105101.0,지교,1,논리학,LOGICS,NaN,...,NaN,69,69,0,67,NaN,이론,일반,NaN,0
1,2,1,BAAA04078,KORE,100101.0,지교,2,언어와문화,LANGUAGE AND CULTURE,NaN,...,NaN,31,31,0,49,NaN,이론,일반,NaN,0
2,3,1,BAAA04078,KORE,100101.0,지교,3,언어와문화,LANGUAGE AND CULTURE,NaN,...,NaN,42,42,0,49,NaN,이론,일반,NaN,0

In [26]:
# '교과목명' 컬럼의 값이 영어로 되어 있는지 확인하는 함수 정의
def is_english(text):
    return bool(re.match(r'^[A-Za-z0-9\s]+$', str(text)))  # 영문자와 공백, 숫자만 포함된 경우

# '교과목명'이 영어로 되어 있고 '원어강의' 값이 1인 행 추출
filtered_jgs_22 = jgs_22[jgs_22['원어\n강의'] == 1]
filtered_jgs_22 = filtered_jgs_22[filtered_jgs_22['교과목명'].apply(is_english)]

# 결과 출력
filtered_jgs_22

,No,학년,학수번호,과목분야,교과번호,이수\n구분,과목\n번호,교과목명,영문교과목명,강의\n계획서,...,원어\n유형,현재\n인원,학부\n인원,대학원\n인원,제한\n인원,과목\n해설,강의\n유형,강의\n종류,영역,합반
775,776,9,BKSA59395,HIST,200107.0,심교,1635,UNDERSTANDING KOREAN CULTURE,UNDERSTANDING KOREAN CULTURE,NaN,...,영어,41,41,0,50,NaN,이론,일반,사고력증진,0
776,777,9,BKSA59395,HIST,200107.0,심교,1636,UNDERSTANDING KOREAN CULTURE,UNDERSTANDING KOREAN CULTURE,NaN,...,영어,27,27,0,50,NaN,이론,일반,사고력증진,0
2166,2167,3,BSDA06790,ECON,800102.0,전선,4125,CURRENT WORLD ECONOMIC ISSUES,CURRENT WORLD ECONOMIC ISSUES,NaN,...,영어,40,40,0,70,NaN,이론,일반,NaN,0
2167,2168,3,BSDA06790,ECON,800102.0,전선,4126,CURRENT WORLD ECONOMIC ISSUES,CURRENT WORLD ECONOMIC ISSUES,NaN,...,영어,58,58,0,94,NaN,이론,일반,NaN,0

In [27]:
# '교과목명'이 영어로 되어 있고 '원어강의' 값이 1인 행 추출
filtered_jgs_23 = jgs_23[jgs_23['원어\n강의'] == 1]
filtered_jgs_23 = filtered_jgs_23[filtered_jgs_23['교과목명'].apply(is_english)]

# 결과 출력
filtered_jgs_23

,No,학년,학수번호,과목분야,교과번호,이수\n구분,과목\n번호,교과목명,영문교과목명,강의\n계획서,...,원어\n유형,현재\n인원,학부\n인원,대학원\n인원,제한\n인원,과목\n해설,강의\n유형,강의\n종류,영역,합반
28,29,1,BAAA65292,OHUM,134.0,지교,29,A SHIFT IN IDEAS,A SHIFT IN IDEAS,NaN,...,영어,29,29,0,30,NaN,이론,일반,NaN,0
660,661,9,BKSA63121,EDUC,1107122.0,기교,1397,PATH,PATH,NaN,...,영어,30,30,0,40,NaN,이론+실습,일반,취창업,0
766,767,9,BKSA59395,HIST,200107.0,심교,1622,UNDERSTANDING KOREAN CULTURE,UNDERSTANDING KOREAN CULTURE,NaN,...,영어,51,51,0,50,NaN,이론,일반,사고력증진,0
767,768,9,BKSA59395,HIST,200107.0,심교,1623,UNDERSTANDING KOREAN CULTURE,UNDERSTANDING KOREAN CULTURE,NaN,...,영어,47,47,0,50,NaN,이론,일반,사고력증진,0
879,880,1,BBSB65302,MECH,200102.0,전필,2029,STATICS,STATICS,NaN,...,영어,58,58,0,45,NaN,이론,B-러닝(녹화+대면),NaN,0
880,881,1,BBSB65302,MECH,200102.0,전필,2030,STATICS,STATICS,NaN,...,영어,39,39,0,50,NaN,이론,일반,NaN,0
1268,1269,2,BANA65280,JOUR,204107.0,전선,3144,UNDERSTANDING VISUAL MEDIA,UNDERSTANDING VISUAL MEDIA,NaN,...,영어,53,53,0,60,NaN,이론,일반,NaN,0
1269,1270,3,BANA65281,JOUR,512104.0,전선,3145,COMMUNICATION CAMPAIGNS THEORY AND DESIGN,COMMUNICATION CAMPAIGNS THEORY AND DESIGN,NaN,...,영어,40,40,0,40,NaN,이론+실습,일반,NaN,0
1375,1376,3,BBKA65350,ERGO,100126.0,전선,3256,CELLULAR REACTION ENGINEERING,CELLULAR REACTION ENGINEERING,NaN,...,영어,37,37,0,59,NaN,이론,일반,NaN,0
1580,1581,2,BGHA65341,DESI,700103.0,전선,3479,USER INTERFACE PROTOTYPING,USER INTERFACE PROTOTYPING,NaN,...,영어,19,19,0,18,NaN,이론+실습,일반,NaN,0
1605,1606,3,BGNA65342,COST,200113.0,전선,3504,FASHION STUDIO 1,FASHION STUDIO 1,NaN,...,영어,28,28,0,20,NaN,이론+실습,일반,NaN,0
1606,1607,3,BGNA65342,COST,200113.0,전선,3505,FASHION STUDIO 1,FASHION STUDIO 1,NaN,...,영어,27,27,0,20,NaN,이론+실습,일반,NaN,0
1620,1621,3,BGPA55769,ART,9900118.0,전선,3519,WEB VIDEO,WEB VIDEO,NaN,...,영어,18,18,0,20,NaN,이론+실습,일반,NaN,0
1649,1650,4,BGTA65348,DESI,300131.0,전선,3552,DESIGN BUSINESS,DESIGN BUSINESS,NaN,...,영어,16,16,0,25,NaN,이론+실습,일반,NaN,0
1705,1706,1,BGUA65338,AFFE,1100117.0,전선,3608,VOCAL AND CONVERSATION,VOCAL AND CONVERSATION,NaN,...,영어,19,19,0,18,NaN,이론+실습,일반,NaN,0
1933,1934,3,BLCA65306,CONT,100102.0,전선,3867,AUTONOMOUS SYSTEM PLATFORM,AUTONOMOUS SYSTEM PLATFORM,NaN,...,영어,12,12,0,40,NaN,이론+실습,일반,NaN,0
1970,1971,2,BLFA65311,BIOL,102112.0,전선,3905,MOLECULAR MEDICAL SCIENCE,MOLECULAR MEDICAL SCIENCE,NaN,...,영어,34,34,0,70,NaN,이론,일반,NaN,0
1991,1992,3,BLHA65304,BIOL,400104.0,전선,3927,DEVELOPMENTAL BIOLOGY,DEVELOPMENTAL BIOLOGY,NaN,...,영어,56,56,0,48,NaN,이론,B-러닝(녹화+대면),NaN,0
2009,2010,4,BLIA65310,NASG,9900109.0,전선,3945,CONVERGENCE BIOTECHNOLOGY,CONVERGENCE BIOTECHNOLOGY,NaN,...,영어,28,28,0,48,NaN,이론,일반,NaN,0
2041,2042,4,BNBA65300,BUSI,600115.0,전선,3979,MARKETING STRATEGY,MARKETING STRATEGY,NaN,...,영어,42,42,0,37,NaN,이론,일반,NaN,0
2042,2043,4,BNBA65300,BUSI,600115.0,전선,3980,MARKETING STRATEGY,MARKETING STRATEGY,NaN,...,영어,38,38,0,37,NaN,이론,일반,NaN,0
2043,2044,3,BNBA65301,BUSI,404102.0,전선,3981,HUMAN RESOURCES DEVELOPMENT,HUMAN RESOURCES DEVELOPMENT,NaN,...,영어,67,67,0,68,NaN,이론,B-러닝(녹화+대면),NaN,0
2086,2087,4,BOGA65346,ART,302118.0,전선,4029,CERAMIC PRODUCT DESIGN 2,CERAMIC PRODUCT DESIGN 2,NaN,...,영어,36,36,0,20,NaN,이론+실습,일반,NaN,0
2113,2114,2,BOHA65277,ARCH,400103.0,전선,4057,ARCHITECTURAL ENVIRONMENT THEORY,ARCHITECTURAL ENVIRONMENT THEORY,NaN,...,영어,73,73,0,60,NaN,이론,B-러닝(녹화+대면),NaN,0
2129,2130,2,BSBA65284,POLI,501104.0,전선,4074,WAR AND PEACE IN WORLD POLITICS,WAR AND PEACE IN WORLD POLITICS,NaN,...,영어,41,41,0,50,NaN,이론,일반,NaN,0
2148,2149,4,BSCA65267,PADM,102104.0,전선,4094,SOCIAL PROBLEMS AND PUBLIC ADMINISTRATION,SOCIAL PROBLEMS AND PUBLIC ADMINISTRATION,NaN,...,영어,20,20,0,56,NaN,이론,일반,NaN,0
2171,2172,3,BSDA06790,ECON,800102.0,전선,4119,CURRENT WORLD ECONOMIC ISSUES,CURRENT WORLD ECONOMIC ISSUES,NaN,...,영어,38,38,0,56,NaN,이론,일반,NaN,0
2172,2173,3,BSDA06790,ECON,800102.0,전선,4120,CURRENT WORLD ECONOMIC ISSUES,CURRENT WORLD ECONOMIC ISSUES,NaN,...,영어,62,62,0,80,NaN,이론,일반,NaN,0
2209,2210,3,BSEA65271,INTR,700103.0,전선,4159,MARINE INSURANCE AND TRADE INSURANCE,MARINE INSURANCE AND TRADE INSURANCE,NaN,...,영어,52,52,0,50,NaN,이론,일반,NaN,0
2231,2232,4,BSFA65275,STAT,103102.0,전선,4181,THEORY OF BAYESIAN STATISTICS,THEORY OF BAYESIAN STATISTICS,NaN,...,영어,24,24,0,60,NaN,이론,일반,NaN,0
2243,2244,3,BSHA65272,PPOL,100121.0,전선,4196,DISCOURSE IN PUBLIC SPHERE,DISCOURSE IN PUBLIC SPHERE,NaN,...,영어,8,8,0,36,NaN,이론,일반,NaN,0
2274,2275,3,BYBA65351,GEOG,105103.0,전선,4229,GEOGRAPHIC INFORMATION SYSTEMS,GEOGRAPHIC INFORMATION SYSTEMS,NaN,...,영어,30,30,0,30,NaN,이론+실습,일반,NaN,0
2275,2276,2,BANA65280,JOUR,204107.0,전선,4230,UNDERSTANDING VISUAL MEDIA,UNDERSTANDING VISUAL MEDIA,NaN,...,영어,47,47,0,60,NaN,이론,일반,NaN,0
2277,2278,2,BJCA65308,CHEM,600109.0,전선,4234,ANALYTICAL CHEMISTRY 2,ANALYTICAL CHEMISTRY 2,NaN,...,영어,41,41,0,80,NaN,이론,일반,NaN,0
2281,2282,1,BHEA65288,MUSI,200107.0,전선,4238,HARMONY 1,HARMONY 1,NaN,...,영어,19,19,0,36,NaN,이론+실습,일반,NaN,0
2286,2287,2,BACA65309,ENGL,100117.0,전선,4245,SYNTAX,SYNTAX,NaN,...,영어,27,26,1,30,NaN,이론,일반,NaN,0
2288,2289,3,BLGA65314,PHCO,800102.0,전선,4248,PRINCIPLES OF DRUG DELIVERY,PRINCIPLES OF DRUG DELIVERY,NaN,...,영어,53,53,0,55,NaN,이론,일반,NaN,0
2295,2296,1,BACA65313,ENGL,100110.0,전선,4255,INTRODUCTION TO ENGLISH LINGUISTICS,INTRODUCTION TO ENGLISH LINGUISTICS,NaN,...,영어,28,27,1,30,NaN,이론,일반,NaN,0
2344,2345,4,BGTA65348,DESI,300131.0,전선,4315,DESIGN BUSINESS,DESIGN BUSINESS,NaN,...,영어,8,8,0,8,NaN,이론+실습,일반,NaN,0

In [28]:
# '교과목명'이 영어로 되어 있고 '원어강의' 값이 1인 행 추출
filtered_jgs_24 = jgs_24[jgs_24['원어\n강의'] == 1]
filtered_jgs_24 = filtered_jgs_24[filtered_jgs_24['교과목명'].apply(is_english)]

# 결과 출력
filtered_jgs_24

,No,학년,학수번호,과목분야,교과번호,이수\n구분,과목\n번호,교과목명,영문교과목명,강의\n계획서,...,원어\n유형,현재\n인원,학부\n인원,대학원\n인원,제한\n인원,과목\n해설,강의\n유형,강의\n종류,영역,합반
28,29,1,BAAA65292,OHUM,134.0,지교,30,A SHIFT IN IDEAS,A SHIFT IN IDEAS,NaN,...,영어,20,20,0,20,NaN,이론,일반,NaN,0
775,776,9,BKSA59395,HIST,200107.0,심교,1613,UNDERSTANDING KOREAN CULTURE,UNDERSTANDING KOREAN CULTURE,NaN,...,영어,47,47,0,50,NaN,이론,일반,글로벌인재양성,0
776,777,9,BKSA59395,HIST,200107.0,심교,1614,UNDERSTANDING KOREAN CULTURE,UNDERSTANDING KOREAN CULTURE,NaN,...,영어,31,31,0,50,NaN,이론,일반,글로벌인재양성,0
851,852,9,BKSA66021,BUSI,9900105.0,심교,1716,THE FOUNDATION OF BIG DATA ANALYSIS USING CHATGPT,THE FOUNDATION OF BIG DATA ANALYSIS USING CHATGPT,NaN,...,영어,27,27,0,40,NaN,이론+실습,일반,사고력증진,0
852,853,9,BKSA66022,HIST,107102.0,심교,1717,COLD WAR HISTORY OF THE KOREAN PENINSULA,COLD WAR HISTORY OF THE KOREAN PENINSULA,NaN,...,영어,27,27,0,80,NaN,이론,일반,글로벌인재양성,0
853,854,9,BKSA66023,AREA,1101103.0,심교,1718,UNDERSTANDING KOREAN SOCIETY,UNDERSTANDING KOREAN SOCIETY,NaN,...,영어,32,32,0,40,NaN,이론,일반,글로벌인재양성,0
854,855,9,BKSA66024,INRD,102.0,심교,1719,PERCEPTIONS AND REALITIES OF DEVELOPING COUNTRIES,PERCEPTIONS AND REALITIES OF DEVELOPING COUNTRIES,NaN,...,영어,30,30,0,80,NaN,이론,일반,글로벌인재양성,0
893,894,1,BBSB65302,MECH,200102.0,전필,2030,STATICS,STATICS,NaN,...,영어,53,53,0,45,NaN,이론,B-러닝(녹화+대면),NaN,0
894,895,1,BBSB65302,MECH,200102.0,전필,2031,STATICS,STATICS,NaN,...,영어,49,49,0,50,NaN,이론,B-러닝(녹화+대면),NaN,0
1196,1197,2,BACA65309,ENGL,100117.0,전선,3060,SYNTAX,SYNTAX,NaN,...,영어,37,36,1,46,NaN,이론,일반,NaN,0
1197,1198,1,BACA65313,ENGL,100110.0,전선,3061,INTRODUCTION TO ENGLISH LINGUISTICS,INTRODUCTION TO ENGLISH LINGUISTICS,NaN,...,영어,25,25,0,46,NaN,이론,일반,NaN,0
1278,1279,2,BANA65280,JOUR,204107.0,전선,3147,UNDERSTANDING VISUAL MEDIA,UNDERSTANDING VISUAL MEDIA,NaN,...,영어,53,53,0,55,NaN,이론,일반,NaN,0
1279,1280,2,BANA65280,JOUR,204107.0,전선,3148,UNDERSTANDING VISUAL MEDIA,UNDERSTANDING VISUAL MEDIA,NaN,...,영어,41,41,0,55,NaN,이론,일반,NaN,0
1280,1281,3,BANA65281,JOUR,512104.0,전선,3149,COMMUNICATION CAMPAIGNS THEORY AND DESIGN,COMMUNICATION CAMPAIGNS THEORY AND DESIGN,NaN,...,영어,48,48,0,51,NaN,이론+실습,일반,NaN,0
1389,1390,3,BBKA65350,ERGO,100126.0,전선,3261,CELLULAR REACTION ENGINEERING,CELLULAR REACTION ENGINEERING,NaN,...,영어,37,37,0,38,NaN,이론,일반,NaN,0
1602,1603,2,BGHA65341,DESI,700103.0,전선,3486,USER INTERFACE PROTOTYPING,USER INTERFACE PROTOTYPING,NaN,...,영어,8,8,0,20,NaN,이론+실습,일반,NaN,0
1626,1627,3,BGNA65342,COST,200113.0,전선,3510,FASHION STUDIO 1,FASHION STUDIO 1,NaN,...,영어,20,20,0,20,NaN,이론+실습,일반,NaN,0
1627,1628,3,BGNA65342,COST,200113.0,전선,3511,FASHION STUDIO 1,FASHION STUDIO 1,NaN,...,영어,19,19,0,20,NaN,이론+실습,일반,NaN,0
1628,1629,3,BGNA65342,COST,200113.0,전선,3512,FASHION STUDIO 1,FASHION STUDIO 1,NaN,...,영어,15,15,0,20,NaN,이론+실습,일반,NaN,0
1642,1643,3,BGPA55769,ART,9900118.0,전선,3526,WEB VIDEO,WEB VIDEO,NaN,...,영어,26,26,0,20,NaN,이론+실습,일반,NaN,0
1674,1675,4,BGTA65348,DESI,300131.0,전선,3558,DESIGN BUSINESS,DESIGN BUSINESS,NaN,...,영어,19,19,0,20,NaN,이론+실습,일반,NaN,0
1697,1698,1,BGWA65339,FILM,700128.0,전선,3584,CHARACTER DESIGN,CHARACTER DESIGN,NaN,...,영어,26,26,0,20,NaN,이론+실습,일반,NaN,0
1698,1699,1,BGWA65339,FILM,700128.0,전선,3585,CHARACTER DESIGN,CHARACTER DESIGN,NaN,...,영어,26,26,0,20,NaN,이론+실습,일반,NaN,0
1726,1727,4,BGXA65937,FILM,500108.0,전선,3617,AUDITION ACTING,AUDITION ACTING,NaN,...,영어,13,13,0,20,NaN,이론+실습,일반,NaN,0
1727,1728,4,BGXA65937,FILM,500108.0,전선,3618,AUDITION ACTING,AUDITION ACTING,NaN,...,영어,16,16,0,20,NaN,이론+실습,일반,NaN,0
1792,1793,1,BHEA65288,MUSI,200107.0,전선,3692,HARMONY 1,HARMONY 1,NaN,...,영어,21,21,0,45,NaN,이론+실습,일반,NaN,0
1849,1850,2,BJCA65308,CHEM,600109.0,전선,3759,ANALYTICAL CHEMISTRY 2,ANALYTICAL CHEMISTRY 2,NaN,...,영어,38,38,0,46,NaN,이론,일반,NaN,0
1997,1998,2,BLFA65311,BIOL,102112.0,전선,3917,MOLECULAR MEDICAL SCIENCE,MOLECULAR MEDICAL SCIENCE,NaN,...,영어,81,81,0,100,NaN,이론,일반,NaN,0
2007,2008,3,BLGA65314,PHCO,800102.0,전선,3927,PRINCIPLES OF DRUG DELIVERY,PRINCIPLES OF DRUG DELIVERY,NaN,...,영어,38,38,0,60,NaN,이론,일반,NaN,0
2021,2022,3,BLHA65304,BIOL,400104.0,전선,3941,DEVELOPMENTAL BIOLOGY,DEVELOPMENTAL BIOLOGY,NaN,...,영어,59,59,0,60,NaN,이론,B-러닝(녹화+대면),NaN,0
2039,2040,4,BLIA65310,NASG,9900109.0,전선,3959,CONVERGENCE BIOTECHNOLOGY,CONVERGENCE BIOTECHNOLOGY,NaN,...,영어,31,31,0,48,NaN,이론,일반,NaN,0
2070,2071,4,BNBA65300,BUSI,600115.0,전선,3993,MARKETING STRATEGY,MARKETING STRATEGY,NaN,...,영어,28,28,0,28,NaN,이론,일반,NaN,0
2071,2072,4,BNBA65300,BUSI,600115.0,전선,3994,MARKETING STRATEGY,MARKETING STRATEGY,NaN,...,영어,27,27,0,28,NaN,이론,일반,NaN,0
2072,2073,3,BNBA65301,BUSI,404102.0,전선,3995,HUMAN RESOURCES DEVELOPMENT,HUMAN RESOURCES DEVELOPMENT,NaN,...,영어,46,46,0,46,NaN,이론,B-러닝(녹화+대면),NaN,0
2112,2113,4,BOGA65346,ART,302118.0,전선,4039,CERAMIC PRODUCT DESIGN 2,CERAMIC PRODUCT DESIGN 2,NaN,...,영어,30,30,0,20,NaN,이론+실습,일반,NaN,0
2141,2142,2,BOHA65277,ARCH,400103.0,전선,4069,ARCHITECTURAL ENVIRONMENT THEORY,ARCHITECTURAL ENVIRONMENT THEORY,NaN,...,영어,80,80,0,100,NaN,이론,B-러닝(녹화+대면),NaN,0
2156,2157,2,BSBA65284,POLI,501104.0,전선,4084,WAR AND PEACE IN WORLD POLITICS,WAR AND PEACE IN WORLD POLITICS,NaN,...,영어,34,34,0,50,NaN,이론+실습,일반,NaN,0
2173,2174,4,BSCA65267,PADM,102104.0,전선,4104,SOCIAL PROBLEMS AND PUBLIC ADMINISTRATION,SOCIAL PROBLEMS AND PUBLIC ADMINISTRATION,NaN,...,영어,24,24,0,70,NaN,이론,일반,NaN,0
2197,2198,3,BSDA06790,ECON,800102.0,전선,4128,CURRENT WORLD ECONOMIC ISSUES,CURRENT WORLD ECONOMIC ISSUES,NaN,...,영어,49,49,0,60,NaN,이론,일반,NaN,0
2198,2199,3,BSDA06790,ECON,800102.0,전선,4129,CURRENT WORLD ECONOMIC ISSUES,CURRENT WORLD ECONOMIC ISSUES,NaN,...,영어,54,54,0,56,NaN,이론,일반,NaN,0
2232,2233,3,BSEA65271,INTR,700103.0,전선,4164,MARINE INSURANCE AND TRADE INSURANCE,MARINE INSURANCE AND TRADE INSURANCE,NaN,...,영어,68,68,0,50,NaN,이론,일반,NaN,0
2254,2255,4,BSFA65275,STAT,103102.0,전선,4187,THEORY OF BAYESIAN STATISTICS,THEORY OF BAYESIAN STATISTICS,NaN,...,영어,47,47,0,60,NaN,이론,B-러닝(녹화+대면),NaN,0
2265,2266,3,BSHA65272,PPOL,100121.0,전선,4201,DISCOURSE IN PUBLIC SPHERE,DISCOURSE IN PUBLIC SPHERE,NaN,...,영어,26,26,0,70,NaN,이론,일반,NaN,0
2302,2303,3,BYBA65351,GEOG,105103.0,전선,4240,GEOGRAPHIC INFORMATION SYSTEMS,GEOGRAPHIC INFORMATION SYSTEMS,NaN,...,영어,41,41,0,35,NaN,이론+실습,일반,NaN,0

In [29]:
# '이수\n구분' 컬럼의 값이 '전선' 또는 '심교'인 행만 필터링하여 새로운 데이터프레임 생성
filtered_jgs_24_result = filtered_jgs_24[filtered_jgs_24['이수\n구분'].isin(['전선', '심교'])]
filtered_jgs_23_result = filtered_jgs_23[filtered_jgs_23['이수\n구분'].isin(['전선', '심교'])]
filtered_jgs_22_result = filtered_jgs_22[filtered_jgs_22['이수\n구분'].isin(['전선', '심교'])]

In [30]:
filtered_jgs_24_result.columns

Index(['No', '학년', '학수번호', '과목분야', '교과번호', '이수\n구분', '과목\n번호', '교과목명',
       '영문교과목명', '강의\n계획서', '비고', '학점', '시간', '수강\n학부(과)/전공', '제청\n학부(과)/전공',
       '개설\n학부(과)/전공', '강의요시/강의실', '담당교수', '강의비율\r\n대면:녹화:실시간', '수업\r\n유형',
       '캡스톤\r\n(ABF제\r\n적용)', 'NCS\r\n(ABF제\r\n적용)', '패스\n과목', '원어\n강의',
       '원어\n유형', '현재\n인원', '학부\n인원', '대학원\n인원', '제한\n인원', '과목\n해설', '강의\n유형',
       '강의\n종류', '영역', '합반'],
      dtype='object')

In [31]:
filtered_jgs_22_result=filtered_jgs_22_result.rename(columns={'과목\n번호': '과목번호'})
filtered_jgs_23_result=filtered_jgs_23_result.rename(columns={'과목\n번호': '과목번호'})
filtered_jgs_24_result=filtered_jgs_24_result.rename(columns={'과목\n번호': '과목번호'})

In [32]:
# df_22, df_23, df_24랑 과목번호 기준으로 join해서 절평인 기준 보면서 '절대평가' 컬럼 만들기

df_22_new = pd.merge(df_22, filtered_jgs_22_result, on='과목번호', how='left')
df_23_new = pd.merge(df_23, filtered_jgs_23_result, on='과목번호', how='left')
df_24_new = pd.merge(df_24, filtered_jgs_24_result, on='과목번호', how='left')

In [33]:
# 제거할 열 목록
columns_to_drop = [
    'No', '학년', '학수번호_y', '교과목명_y', '영문교과목명_y', '강의\n계획서', '비고', '학점_y', '시간_y', 
    '수강\n학부(과)/전공', '제청\n학부(과)/전공', '개설\n학부(과)/전공', '강의요시/강의실', '담당교수', 
    '강의비율\r\n대면:녹화:실시간', '현재\n인원', '학부\n인원', '대학원\n인원', '제한\n인원', 
    '과목\n해설', '영역', '합반'
]

# 열 제거
df_22_new = df_22_new.drop(columns=columns_to_drop)
df_23_new = df_23_new.drop(columns=columns_to_drop)
df_24_new = df_24_new.drop(columns=columns_to_drop)

In [34]:
df_22_new = df_22_new.drop(columns=['교과번호', '이수\n구분', '강의\n유형','강의\n종류', '수업\r\n유형', '과목분야'])
df_23_new = df_23_new.drop(columns=['교과번호', '이수\n구분', '강의\n유형','강의\n종류', '수업\r\n유형', '과목분야'])
df_24_new = df_24_new.drop(columns=['교과번호', '이수\n구분', '강의\n유형','강의\n종류', '수업\r\n유형', '과목분야'])

In [35]:
# 열 이름 수정: '_x', '\r', '\n' 제거
df_22_new.columns = df_22_new.columns.str.replace('_x', '', regex=False)\
                                     .str.replace('\r', '', regex=False)\
                                     .str.replace('\n', '', regex=False)
# 열 이름 수정: '_x', '\r', '\n' 제거
df_23_new.columns = df_23_new.columns.str.replace('_x', '', regex=False)\
                                     .str.replace('\r', '', regex=False)\
                                     .str.replace('\n', '', regex=False)
# 열 이름 수정: '_x', '\r', '\n' 제거
df_24_new.columns = df_24_new.columns.str.replace('_x', '', regex=False)\
                                     .str.replace('\r', '', regex=False)\
                                     .str.replace('\n', '', regex=False)

In [36]:
print(df_22_new['수업유형'].unique())
print(df_23_new['수업유형'].unique())
print(df_24_new['수업유형'].unique())

[nan '토론식강의' '우수 e-러닝' '플립드러닝' '하이브리드 클래스']
[nan '토론식강의' '우수 e-러닝' '플립드러닝' '하이브리드 클래스']
[nan '토론식강의' '우수 e-러닝' '플립드러닝' '하이브리드 클래스']

In [37]:
print(df_22_new['캡스톤(ABF제적용)'].unique())
print(df_23_new['캡스톤(ABF제적용)'].unique())
print(df_24_new['캡스톤(ABF제적용)'].unique())

[nan  0.]
[nan  0.]
[nan  0.]

In [38]:
print(df_22_new['NCS(ABF제적용)'].unique())
print(df_23_new['NCS(ABF제적용)'].unique())
print(df_24_new['NCS(ABF제적용)'].unique())

[nan  0.]
[nan  0.  1.]
[nan  0.  1.]

In [39]:
print(df_22_new['패스과목'].unique())
print(df_23_new['패스과목'].unique())
print(df_24_new['패스과목'].unique())

[nan]
[nan]
[nan]

In [40]:
# 조건 설정
condition = (
    (df_22_new['수업유형'].isin(['토론식강의', '플립드러닝', '하이브리드 클래스'])) |
    (df_22_new['NCS(ABF제적용)'] == 1) |
    (df_22_new['교과목명'].str.isalpha() & df_22_new['교과목명'].str.isupper())
)

# '절대평가 유무' 컬럼 생성
df_22_new['절대평가 유무'] = condition.astype(int)

# 조건 설정
condition = (
    (df_23_new['수업유형'].isin(['토론식강의', '플립드러닝', '하이브리드 클래스'])) |
    (df_23_new['NCS(ABF제적용)'] == 1) |
    (df_23_new['교과목명'].str.isalpha() & df_23_new['교과목명'].str.isupper())
)

# '절대평가 유무' 컬럼 생성
df_23_new['절대평가 유무'] = condition.astype(int)

# 조건 설정
condition = (
    (df_24_new['수업유형'].isin(['토론식강의', '플립드러닝', '하이브리드 클래스'])) |
    (df_24_new['NCS(ABF제적용)'] == 1) |
    (df_24_new['교과목명'].str.isalpha() & df_24_new['교과목명'].str.isupper())
)

# '절대평가 유무' 컬럼 생성
df_24_new['절대평가 유무'] = condition.astype(int)

# 점심시간대인지 아닌지 이진변수

In [41]:
df_22_new['시간대'].head()

0    09:00~11:00
1    10:00~12:00
2    15:00~17:00
3    18:15~19:45
4    13:00~15:00
Name: 시간대, dtype: object

In [42]:
def check_lunch_time_inclusion(time_ranges):
    # 점심시간 범위
    lunch_start = pd.to_datetime('12:00', format='%H:%M')
    lunch_end = pd.to_datetime('13:30', format='%H:%M')
    
    # 시간대를 ','로 분리
    for time_range in str(time_ranges).split(','):
        try:
            # '~'로 분리하여 시작 시간과 종료 시간 추출
            start_time, end_time = time_range.strip().split('~')
            start_time = pd.to_datetime(start_time, format='%H:%M')
            end_time = pd.to_datetime(end_time, format='%H:%M')
            
            # 점심시간 범위와 교차하는지 확인
            if (start_time < lunch_end) and (end_time > lunch_start):
                return 1  # 점심시간을 포함하면 1 반환
        except ValueError:
            # 시간대 형식이 올바르지 않은 경우 예외 처리
            continue
    
    # 점심시간 포함되지 않으면 0 반환
    return 0

# '점심시간 포함 개수' 컬럼 생성
df_22_new['점심시간 포함 개수'] = df_22_new['시간대'].apply(check_lunch_time_inclusion)
df_23_new['점심시간 포함 개수'] = df_23_new['시간대'].apply(check_lunch_time_inclusion)
df_24_new['점심시간 포함 개수'] = df_24_new['시간대'].apply(check_lunch_time_inclusion)

# '수업이 있는 요일' 컬럼 생성

- '요일' 컬럼의 값이 ''인 행들은 모두 e-러닝 (전선에도 e-러닝이 있음) -> 일단 그냥 냅두자
- '요일'이 같은 값이 여러개면 하나로 바꿔주고, 몇개 안되니까 수작업해서 데이터 전처리 하자
- '요일' 컬럼 보고 '월', '화', '수', '목', '금', '토' 요일 컬럼을 새로 만들어서 수업이 있는 요일에 1을 맵핑, 아닌 요일에 0을 맵핑

In [43]:
df_22_new['요일'].unique()

array(['금', '화', '월', '수', '목', '', '토', '월, 수', '화, 목', '월, 화', '월, 목',
       '수, 금', '화, 금', '목, 금', '화, 수', '월, 화, 목', '금, 금', '화, 화', '수, 수',
       '목, 목, 목', '수, 수, 수', '금, 금, 금', '월, 월', '수, 목', '화, 수, 금',
       '월, 월, 수, 수', '화, 화, 목, 목', '수, 목, 금', '목, 목'], dtype=object)

In [44]:
df_23_new['요일'].unique()

array(['월', '금', '화', '수', '목', '', '월, 수', '화, 목', '토', '월, 목', '월, 화',
       '수, 금', '월, 금', '화, 금', '목, 금', '화, 수', '월, 화, 목', '화, 화', '목, 목',
       '금, 금', '목, 목, 목', '월, 월, 월', '수, 수, 수', '월, 월', '수, 목', '화, 수, 금',
       '화, 화, 수, 수', '월, 월, 금, 금', '화, 화, 목, 목', '수, 수, 목, 목', '화, 목, 금',
       '월, 목, 금', '금, 금, 금', '수, 수', '화, 금, 금'], dtype=object)

In [45]:
df_24_new['요일'].unique()

array(['수', '금', '화', '목', '', '월', '월, 수', '화, 금', '화, 목', '수, 금',
       '수, 목', '화, 수', '월, 목', '월, 화', '월, 금', '목, 금', '화, 화', '목, 목',
       '토', '월, 화, 목', '금, 금', '월, 월', '월, 목, 금', '화, 화, 목, 목', '목, 목, 목',
       '수, 수, 수', '수, 수', '금, 금, 금'], dtype=object)

### 22년도 '요일' 컬럼에 대해 다른 컬럼 값들 수정하기

In [46]:
# '금, 금'
df_23_new[df_23_new['요일']=='화, 금, 금']

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,시간대,층,분반 개수,캡스톤(ABF제적용),NCS(ABF제적용),패스과목,원어강의,원어유형,절대평가 유무,점심시간 포함 개수
1331,2023,2학기,BHEA61375,전선,4240,음악교직역량강화세미나,SEMINAR IN MUSIC TEACHING COMPETENCY,3,4,4,...,"14:00~16:00, 12:00~13:00, 13:00~14:00","3, 3, 3",1,NaN,NaN,NaN,NaN,NaN,0,1

### 23년도 '요일' 컬럼에 대해 다른 컬럼 값들 수정하기

### 24년도 '요일' 컬럼에 대해 다른 컬럼 값들 수정하기

# 심교는 1,2학년인 저학년 데이터셋, 3,4 학년인 고학년 데이터셋 만들기

### 심교는 1,2학년 수강제한인원 합친거 분에 1,2학년 수강인원

In [47]:
# 심교, 전선 데이터프레임 따로 만들기

# '이수구분' 컬럼이 '심교'인 데이터만 필터링
df_22_sim = df_22_new[df_22_new['이수구분'] == '심교'].copy()
df_23_sim = df_23_new[df_23_new['이수구분'] == '심교'].copy()
df_24_sim = df_24_new[df_24_new['이수구분'] == '심교'].copy()

# '이수구분' 컬럼이 '전선'인 데이터만 필터링
df_22_jeon = df_22_new[df_22_new['이수구분']=='전선'].copy()
df_23_jeon = df_23_new[df_23_new['이수구분']=='전선'].copy()
df_24_jeon = df_24_new[df_24_new['이수구분']=='전선'].copy()

In [48]:
# '저학년 경쟁률' 컬럼 생성 및 df_22_sim_low 데이터프레임 생성
df_22_sim['저학년 경쟁률'] = (
    (df_22_sim['1학년 수강바구니'] + df_22_sim['2학년 수강바구니']) / 
    (df_22_sim['1학년 제한인원'] + df_22_sim['2학년 제한인원'])
)
df_22_sim_low = df_22_sim.copy()

# '고학년 경쟁률' 컬럼 생성 및 df_22_sim_high 데이터프레임 생성
df_22_sim['고학년 경쟁률'] = (
    (df_22_sim['3학년 수강바구니'] + df_22_sim['4학년수강바구니']) / 
    (df_22_sim['3학년 제한인원'] + df_22_sim['4학년 제한인원'])
)
df_22_sim_high = df_22_sim.copy()

In [49]:
# '저학년 경쟁률' 컬럼 생성 및 df_23_sim_low 데이터프레임 생성
df_23_sim['저학년 경쟁률'] = (
    (df_23_sim['1학년 수강바구니'] + df_23_sim['2학년 수강바구니']) / 
    (df_23_sim['1학년 제한인원'] + df_23_sim['2학년 제한인원'])
)
df_23_sim_low = df_23_sim.copy()

# '고학년 경쟁률' 컬럼 생성 및 df_23_sim_high 데이터프레임 생성
df_23_sim['고학년 경쟁률'] = (
    (df_23_sim['3학년 수강바구니'] + df_23_sim['4학년 수강바구니']) / 
    (df_23_sim['3학년 제한인원'] + df_23_sim['4학년 제한인원'])
)
df_23_sim_high = df_23_sim.copy()

In [50]:
# '저학년 경쟁률' 컬럼 생성 및 df_22_sim_low 데이터프레임 생성
df_24_sim['저학년 경쟁률'] = (
    (df_24_sim['1학년 수강바구니'] + df_24_sim['2학년 수강바구니']) / 
    (df_24_sim['1학년 제한인원'] + df_24_sim['2학년 제한인원'])
)
df_24_sim_low = df_24_sim.copy()

# '고학년 경쟁률' 컬럼 생성 및 df_22_sim_high 데이터프레임 생성
df_24_sim['고학년 경쟁률'] = (
    (df_24_sim['3학년 수강바구니'] + df_24_sim['4학년 수강바구니']) / 
    (df_24_sim['3학년 제한인원'] + df_24_sim['4학년 제한인원'])
)
df_24_sim_high = df_24_sim.copy()

# 전선 데이터셋에는 고학년인지 아닌지 바이너리 변수 추가

In [51]:
# '개설학년' 컬럼을 정수형으로 변환
df_22_jeon['개설학년'] = pd.to_numeric(df_22_jeon['개설학년'], errors='coerce')

# '고학년' 컬럼 생성 (3학년과 4학년은 1, 1학년과 2학년은 0으로 매핑)
df_22_jeon['고학년'] = df_22_jeon['개설학년'].apply(lambda x: 1 if x in [3, 4] else 0)

# '개설학년' 컬럼을 정수형으로 변환
df_23_jeon['개설학년'] = pd.to_numeric(df_23_jeon['개설학년'], errors='coerce')

# '고학년' 컬럼 생성 (3학년과 4학년은 1, 1학년과 2학년은 0으로 매핑)
df_23_jeon['고학년'] = df_23_jeon['개설학년'].apply(lambda x: 1 if x in [3, 4] else 0)

# '개설학년' 컬럼을 정수형으로 변환
df_24_jeon['개설학년'] = pd.to_numeric(df_24_jeon['개설학년'], errors='coerce')

# '고학년' 컬럼 생성 (3학년과 4학년은 1, 1학년과 2학년은 0으로 매핑)
df_24_jeon['고학년'] = df_24_jeon['개설학년'].apply(lambda x: 1 if x in [3, 4] else 0)

In [52]:
df_24_jeon[df_24_jeon['개설학년'].isna()]

,년도,학기,학수번호,이수구분,과목번호,교과목명,영문교과목명,학점,시간,개설학년,...,층,분반 개수,캡스톤(ABF제적용),NCS(ABF제적용),패스과목,원어강의,원어유형,절대평가 유무,점심시간 포함 개수,고학년
1359,2024,2학기,RAEA65999,전선,4268,항공드론인증및표준,CERTIFICATION AND STANDARD OF AERO-DRONE,1,1,NaN,...,,1,NaN,NaN,NaN,NaN,NaN,0,0,0
1366,2024,2학기,RAEA66982,전선,4279,항공드론융합콜로키움,AEOR-DRONE CONVERGENCE COLLOQUIUM,1,1,NaN,...,5,1,NaN,NaN,NaN,NaN,NaN,0,0,0

In [53]:
# 고학년 바이너리 변수에 넣기에 몇학년이 듣는 전공인지 알 수 없는 정보이므로 삭제함
df_24_jeon = df_24_jeon.dropna(subset=['개설학년'])

In [54]:
df_24_jeon[df_24_jeon['개설학년'].isna()]

Empty DataFrame
Columns: [년도, 학기, 학수번호, 이수구분, 과목번호, 교과목명, 영문교과목명, 학점, 시간, 개설학년, 수강학과, 개설학과, 제청학과, 강의종류, 강의유형, 수업유형, 교양영역, 교강사명, 강의요시, 총수강인원, (학부)수강인원, (대학원)수강인원, 전체학년 제한인원, 전체학년 수강바구니, 전체학년 경쟁률, 4학년 제한인원, 4학년 수강바구니, 4학년 경쟁률, 3학년 제한인원, 3학년 수강바구니, 3학년 경쟁률, 2학년 제한인원, 2학년 수강바구니, 2학년 경쟁률, 1학년 제한인원, 1학년 수강바구니, 1학년 경쟁률, 요일, 건물명, 일주일 중 수업횟수, 시간대, 층, 분반 개수, 캡스톤(ABF제적용), NCS(ABF제적용), 패스과목, 원어강의, 원어유형, 절대평가 유무, 점심시간 포함 개수, 고학년]
Index: []

[0 rows x 51 columns]

# 심교(저학년 데이터셋), 심교(고학년 데이터셋), 전선 총 3개의 데이터셋 컬럼 정리하기

In [55]:
print(df_22_sim_low.columns)
print(df_23_sim_low.columns)
print(df_24_sim_low.columns)

Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '저학년 경쟁률'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '저학년 경쟁률'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '저학년 경쟁률'],
      dtype='object')

In [56]:
print(df_22_sim_high.columns)
print(df_23_sim_high.columns)
print(df_24_sim_high.columns)

Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '저학년 경쟁률', '고학년 경쟁률'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '저학년 경쟁률', '고학년 경쟁률'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '저학년 경쟁률', '고학년 경쟁률'],
      dtype='object')

In [57]:
print(df_22_jeon.columns)
print(df_23_jeon.columns)
print(df_24_jeon.columns)

Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '고학년'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '고학년'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '고학년'],
      dtype='object')

In [58]:
df_22_sim_low = df_22_sim_low.drop(columns=['4학년 제한인원', '4학년수강바구니',
       '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니', '3학년 경쟁률'])
df_23_sim_low = df_23_sim_low.drop(columns=['4학년 제한인원', '4학년 수강바구니',
       '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니', '3학년 경쟁률'])
df_24_sim_low = df_24_sim_low.drop(columns=['4학년 제한인원', '4학년 수강바구니',
       '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니', '3학년 경쟁률'])

In [59]:
df_22_sim_high = df_22_sim_high.drop(columns=['2학년 제한인원', '2학년 수강바구니',
       '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니', '1학년 경쟁률','저학년 경쟁률'])
df_23_sim_high = df_23_sim_high.drop(columns=['2학년 제한인원', '2학년 수강바구니',
       '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니', '1학년 경쟁률','저학년 경쟁률'])
df_24_sim_high = df_24_sim_high.drop(columns=['2학년 제한인원', '2학년 수강바구니',
       '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니', '1학년 경쟁률','저학년 경쟁률'])

In [60]:
print(df_22_sim_low.columns)
print(df_23_sim_low.columns)
print(df_24_sim_low.columns)

Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '저학년 경쟁률'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '저학년 경쟁률'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '저학년 경쟁률'],
      dtype='object')

In [61]:
print(df_22_sim_high.columns)
print(df_23_sim_high.columns)
print(df_24_sim_high.columns)

Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '고학년 경쟁률'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '고학년 경쟁률'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '고학년 경쟁률'],
      dtype='object')

In [62]:
print(df_22_jeon.columns)
print(df_23_jeon.columns)
print(df_24_jeon.columns)

Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '고학년'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '고학년'],
      dtype='object')
Index(['년도', '학기', '학수번호', '이수구분', '과목번호', '교과목명', '영문교과목명', '학점', '시간',
       '개설학년', '수강학과', '개설학과', '제청학과', '강의종류', '강의유형', '수업유형', '교양영역', '교강사명',
       '강의요시', '총수강인원', '(학부)수강인원', '(대학원)수강인원', '전체학년 제한인원', '전체학년 수강바구니',
       '전체학년 경쟁률', '4학년 제한인원', '4학년 수강바구니', '4학년 경쟁률', '3학년 제한인원', '3학년 수강바구니',
       '3학년 경쟁률', '2학년 제한인원', '2학년 수강바구니', '2학년 경쟁률', '1학년 제한인원', '1학년 수강바구니',
       '1학년 경쟁률', '요일', '건물명', '일주일 중 수업횟수', '시간대', '층', '분반 개수',
       '캡스톤(ABF제적용)', 'NCS(ABF제적용)', '패스과목', '원어강의', '원어유형', '절대평가 유무',
       '점심시간 포함 개수', '고학년'],
      dtype='object')

In [63]:
# 컬럼명 변경
df_22_jeon.rename(columns={'4학년수강바구니': '4학년 수강바구니'}, inplace=True)
df_22_sim_high.rename(columns={'4학년수강바구니': '4학년 수강바구니'}, inplace=True)

# 각 데이터셋 별로 패널데이터 합치기

In [64]:
# 심교(저학년) 모델을 위한 데이터셋

df_sim_low = pd.concat([df_22_sim_low, df_23_sim_low, df_24_sim_low], ignore_index=True)
df_sim_low.shape

(569, 45)

In [65]:
# 심교(고학년) 모델을 위한 데이터셋

df_sim_high = pd.concat([df_22_sim_high, df_23_sim_high, df_24_sim_high], ignore_index=True)
df_sim_high.shape

(569, 45)

In [66]:
# 전선 모델을 위한 데이터셋

df_jeon = pd.concat([df_22_jeon, df_23_jeon, df_24_jeon], ignore_index=True)
df_jeon.shape

(3531, 51)

# 열 안의 결측치 값 다듬거나 열 삭제하기

In [67]:
df_sim_low.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 45 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   년도           569 non-null    int64
 1   학기           569 non-null    object
 2   학수번호         569 non-null    object
 3   이수구분         569 non-null    object
 4   과목번호         569 non-null    int64
 5   교과목명         569 non-null    object
 6   영문교과목명       569 non-null    object
 7   학점           569 non-null    int64
 8   시간           569 non-null    int64
 9   개설학년         569 non-null    object
 10  수강학과         569 non-null    object
 11  개설학과         569 non-null    object
 12  제청학과         569 non-null    object
 13  강의종류         569 non-null    object
 14  강의유형         569 non-null    object
 15  수업유형         86 non-null     object
 16  교양영역         569 non-null    object
 17  교강사명         569 non-null    object
 18  강의요시         569 non-null    object
 19  총수강인원        569 non-null    int64
 20  (학부)수강인원     569 non-null    int64
 21  (대학원)수강인원    569 non-null    int64
 22  전체학년 제한인원    569 non-null    int64
 23  전체학년 수강바구니   569 non-null    int64
 24  전체학년 경쟁률     569 non-null    float64
 25  2학년 제한인원     569 non-null    float64
 26  2학년 수강바구니    569 non-null    int64
 27  2학년 경쟁률      569 non-null    float64
 28  1학년 제한인원     569 non-null    float64
 29  1학년 수강바구니    569 non-null    int64
 30  1학년 경쟁률      569 non-null    float64
 31  요일           569 non-null    object
 32  건물명          569 non-null    object
 33  일주일 중 수업횟수   569 non-null    float64
 34  시간대          569 non-null    object
 35  층            569 non-null    object
 36  분반 개수        569 non-null    int64
 37  캡스톤(ABF제적용)  10 non-null     float64
 38  NCS(ABF제적용)  10 non-null     float64
 39  패스과목         0 non-null      object
 40  원어강의         10 non-null     float64
 41  원어유형         10 non-null     object
 42  절대평가 유무      569 non-null    int32
 43  점심시간 포함 개수   569 non-null    int64
 44  저학년 경쟁률      569 non-null    float64
dtypes: float64(10), int32(1), int64(13), object(21)
memory usage: 197.9+ KB

In [68]:
df_sim_high.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 45 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   년도           569 non-null    int64
 1   학기           569 non-null    object
 2   학수번호         569 non-null    object
 3   이수구분         569 non-null    object
 4   과목번호         569 non-null    int64
 5   교과목명         569 non-null    object
 6   영문교과목명       569 non-null    object
 7   학점           569 non-null    int64
 8   시간           569 non-null    int64
 9   개설학년         569 non-null    object
 10  수강학과         569 non-null    object
 11  개설학과         569 non-null    object
 12  제청학과         569 non-null    object
 13  강의종류         569 non-null    object
 14  강의유형         569 non-null    object
 15  수업유형         86 non-null     object
 16  교양영역         569 non-null    object
 17  교강사명         569 non-null    object
 18  강의요시         569 non-null    object
 19  총수강인원        569 non-null    int64
 20  (학부)수강인원     569 non-null    int64
 21  (대학원)수강인원    569 non-null    int64
 22  전체학년 제한인원    569 non-null    int64
 23  전체학년 수강바구니   569 non-null    int64
 24  전체학년 경쟁률     569 non-null    float64
 25  4학년 제한인원     569 non-null    int64
 26  4학년 수강바구니    569 non-null    int64
 27  4학년 경쟁률      569 non-null    float64
 28  3학년 제한인원     569 non-null    int64
 29  3학년 수강바구니    569 non-null    int64
 30  3학년 경쟁률      569 non-null    float64
 31  요일           569 non-null    object
 32  건물명          569 non-null    object
 33  일주일 중 수업횟수   569 non-null    float64
 34  시간대          569 non-null    object
 35  층            569 non-null    object
 36  분반 개수        569 non-null    int64
 37  캡스톤(ABF제적용)  10 non-null     float64
 38  NCS(ABF제적용)  10 non-null     float64
 39  패스과목         0 non-null      object
 40  원어강의         10 non-null     float64
 41  원어유형         10 non-null     object
 42  절대평가 유무      569 non-null    int32
 43  점심시간 포함 개수   569 non-null    int64
 44  고학년 경쟁률      569 non-null    float64
dtypes: float64(8), int32(1), int64(15), object(21)
memory usage: 197.9+ KB

In [69]:
df_jeon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3531 entries, 0 to 3530
Data columns (total 51 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   년도           3531 non-null   int64
 1   학기           3531 non-null   object
 2   학수번호         3531 non-null   object
 3   이수구분         3531 non-null   object
 4   과목번호         3531 non-null   int64
 5   교과목명         3531 non-null   object
 6   영문교과목명       3531 non-null   object
 7   학점           3531 non-null   int64
 8   시간           3531 non-null   int64
 9   개설학년         3531 non-null   float64
 10  수강학과         3531 non-null   object
 11  개설학과         3531 non-null   object
 12  제청학과         3531 non-null   object
 13  강의종류         3531 non-null   object
 14  강의유형         3531 non-null   object
 15  수업유형         236 non-null    object
 16  교양영역         0 non-null      object
 17  교강사명         3531 non-null   object
 18  강의요시         3531 non-null   object
 19  총수강인원        3531 non-null   int64
 20  (학부)수강인원     3531 non-null   int64
 21  (대학원)수강인원    3531 non-null   int64
 22  전체학년 제한인원    3531 non-null   int64
 23  전체학년 수강바구니   3531 non-null   int64
 24  전체학년 경쟁률     3531 non-null   float64
 25  4학년 제한인원     3531 non-null   int64
 26  4학년 수강바구니    3531 non-null   int64
 27  4학년 경쟁률      3531 non-null   float64
 28  3학년 제한인원     3531 non-null   int64
 29  3학년 수강바구니    3531 non-null   int64
 30  3학년 경쟁률      3531 non-null   float64
 31  2학년 제한인원     3530 non-null   float64
 32  2학년 수강바구니    3531 non-null   int64
 33  2학년 경쟁률      3530 non-null   float64
 34  1학년 제한인원     3530 non-null   float64
 35  1학년 수강바구니    3531 non-null   int64
 36  1학년 경쟁률      3530 non-null   float64
 37  요일           3531 non-null   object
 38  건물명          3531 non-null   object
 39  일주일 중 수업횟수   3531 non-null   float64
 40  시간대          3531 non-null   object
 41  층            3531 non-null   object
 42  분반 개수        3531 non-null   int64
 43  캡스톤(ABF제적용)  70 non-null     float64
 44  NCS(ABF제적용)  70 non-null     float64
 45  패스과목         0 non-null      object
 46  원어강의         70 non-null     float64
 47  원어유형         70 non-null     object
 48  절대평가 유무      3531 non-null   int32
 49  점심시간 포함 개수   3531 non-null   int64
 50  고학년          3531 non-null   int64
dtypes: float64(12), int32(1), int64(18), object(20)
memory usage: 1.4+ MB

In [70]:
# 수업유형은 플립드, 토론식 등등 이미 '절대평가 유무' 컬럼에 포함된 값들
# 전선이라서 교양영역은 뜨지 않음

df_jeon = df_jeon.drop(columns=['수업유형', '교양영역','패스과목'])
df_sim_low = df_sim_low.drop(columns=['수업유형', '패스과목'])
df_sim_high = df_sim_high.drop(columns=['수업유형', '패스과목'])

In [71]:
df_jeon.loc[3200]

년도                             2024
학기                              2학기
학수번호                      BLGA27379
이수구분                             전선
과목번호                           3920
교과목명                           항체공학
영문교과목명         ANTIBODY ENGINEERING
학점                                3
시간                                3
개설학년                            4.0
수강학과                          의생명공학
개설학과                         의생명공학과
제청학과                         의생명공학과
강의종류                             대면
강의유형                             이론
교강사명                            부하령
강의요시                   수07-12(동320)
총수강인원                            56
(학부)수강인원                         56
(대학원)수강인원                         0
전체학년 제한인원                        60
전체학년 수강바구니                       46
전체학년 경쟁률                       0.77
4학년 제한인원                         50
4학년 수강바구니                        26
4학년 경쟁률                        0.52
3학년 제한인원                         10
3학년 수강바구니                        20
3학년 경쟁률                         2.0
2학년 제한인원                        NaN
2학년 수강바구니                         0
2학년 경쟁률                         NaN
1학년 제한인원                        NaN
1학년 수강바구니                         0
1학년 경쟁률                         NaN
요일                                수
건물명                         동물생명과학관
일주일 중 수업횟수                      1.0
시간대                     12:00~15:00
층                                 3
분반 개수                             1
캡스톤(ABF제적용)                     NaN
NCS(ABF제적용)                     NaN
원어강의                            NaN
원어유형                            NaN
절대평가 유무                           0
점심시간 포함 개수                        1
고학년                               1
Name: 3200, dtype: object

In [72]:
df_jeon.drop(index=3200, inplace=True)

In [73]:
print(df_jeon['캡스톤(ABF제적용)'].unique())
print(df_jeon['NCS(ABF제적용)'].unique())
print(df_jeon['원어강의'].unique())
print(df_jeon['원어유형'].unique())

[nan  0.]
[nan  0.  1.]
[nan  1.]
[nan '영어']

In [74]:
print(df_sim_low['캡스톤(ABF제적용)'].unique())
print(df_sim_low['NCS(ABF제적용)'].unique())
print(df_sim_low['원어강의'].unique())
print(df_sim_low['원어유형'].unique())

[nan  0.]
[nan  0.]
[nan  1.]
[nan '영어']

In [75]:
print(df_sim_high['캡스톤(ABF제적용)'].unique())
print(df_sim_high['NCS(ABF제적용)'].unique())
print(df_sim_high['원어강의'].unique())
print(df_sim_high['원어유형'].unique())

[nan  0.]
[nan  0.]
[nan  1.]
[nan '영어']

In [76]:
# 데이터프레임 리스트 생성
dataframes = [df_sim_low, df_sim_high, df_jeon]

# 처리 작업 수행
for df in dataframes:
    # '원어강의'를 '영어강의'로 변경
    df.rename(columns={'원어강의': '영어강의'}, inplace=True)
    
    # '영어강의' 열의 결측값을 0으로 채우기
    df['영어강의'] = df['영어강의'].fillna(0)
    
    # '원어유형', '캡스톤(ABF제 적용)', 'NCS(ABF제 적용)' 열 삭제
    df.drop(columns=['원어유형', '캡스톤(ABF제적용)', 'NCS(ABF제적용)'], inplace=True)

In [77]:
# 작업 확인
df_sim_low.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년도          569 non-null    int64
 1   학기          569 non-null    object
 2   학수번호        569 non-null    object
 3   이수구분        569 non-null    object
 4   과목번호        569 non-null    int64
 5   교과목명        569 non-null    object
 6   영문교과목명      569 non-null    object
 7   학점          569 non-null    int64
 8   시간          569 non-null    int64
 9   개설학년        569 non-null    object
 10  수강학과        569 non-null    object
 11  개설학과        569 non-null    object
 12  제청학과        569 non-null    object
 13  강의종류        569 non-null    object
 14  강의유형        569 non-null    object
 15  교양영역        569 non-null    object
 16  교강사명        569 non-null    object
 17  강의요시        569 non-null    object
 18  총수강인원       569 non-null    int64
 19  (학부)수강인원    569 non-null    int64
 20  (대학원)수강인원   569 non-null    int64
 21  전체학년 제한인원   569 non-null    int64
 22  전체학년 수강바구니  569 non-null    int64
 23  전체학년 경쟁률    569 non-null    float64
 24  2학년 제한인원    569 non-null    float64
 25  2학년 수강바구니   569 non-null    int64
 26  2학년 경쟁률     569 non-null    float64
 27  1학년 제한인원    569 non-null    float64
 28  1학년 수강바구니   569 non-null    int64
 29  1학년 경쟁률     569 non-null    float64
 30  요일          569 non-null    object
 31  건물명         569 non-null    object
 32  일주일 중 수업횟수  569 non-null    float64
 33  시간대         569 non-null    object
 34  층           569 non-null    object
 35  분반 개수       569 non-null    int64
 36  영어강의        569 non-null    float64
 37  절대평가 유무     569 non-null    int32
 38  점심시간 포함 개수  569 non-null    int64
 39  저학년 경쟁률     569 non-null    float64
dtypes: float64(8), int32(1), int64(13), object(18)
memory usage: 175.7+ KB

In [78]:
df_sim_high.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년도          569 non-null    int64
 1   학기          569 non-null    object
 2   학수번호        569 non-null    object
 3   이수구분        569 non-null    object
 4   과목번호        569 non-null    int64
 5   교과목명        569 non-null    object
 6   영문교과목명      569 non-null    object
 7   학점          569 non-null    int64
 8   시간          569 non-null    int64
 9   개설학년        569 non-null    object
 10  수강학과        569 non-null    object
 11  개설학과        569 non-null    object
 12  제청학과        569 non-null    object
 13  강의종류        569 non-null    object
 14  강의유형        569 non-null    object
 15  교양영역        569 non-null    object
 16  교강사명        569 non-null    object
 17  강의요시        569 non-null    object
 18  총수강인원       569 non-null    int64
 19  (학부)수강인원    569 non-null    int64
 20  (대학원)수강인원   569 non-null    int64
 21  전체학년 제한인원   569 non-null    int64
 22  전체학년 수강바구니  569 non-null    int64
 23  전체학년 경쟁률    569 non-null    float64
 24  4학년 제한인원    569 non-null    int64
 25  4학년 수강바구니   569 non-null    int64
 26  4학년 경쟁률     569 non-null    float64
 27  3학년 제한인원    569 non-null    int64
 28  3학년 수강바구니   569 non-null    int64
 29  3학년 경쟁률     569 non-null    float64
 30  요일          569 non-null    object
 31  건물명         569 non-null    object
 32  일주일 중 수업횟수  569 non-null    float64
 33  시간대         569 non-null    object
 34  층           569 non-null    object
 35  분반 개수       569 non-null    int64
 36  영어강의        569 non-null    float64
 37  절대평가 유무     569 non-null    int32
 38  점심시간 포함 개수  569 non-null    int64
 39  고학년 경쟁률     569 non-null    float64
dtypes: float64(6), int32(1), int64(15), object(18)
memory usage: 175.7+ KB

In [79]:
df_jeon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3530 entries, 0 to 3530
Data columns (total 45 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   년도          3530 non-null   int64
 1   학기          3530 non-null   object
 2   학수번호        3530 non-null   object
 3   이수구분        3530 non-null   object
 4   과목번호        3530 non-null   int64
 5   교과목명        3530 non-null   object
 6   영문교과목명      3530 non-null   object
 7   학점          3530 non-null   int64
 8   시간          3530 non-null   int64
 9   개설학년        3530 non-null   float64
 10  수강학과        3530 non-null   object
 11  개설학과        3530 non-null   object
 12  제청학과        3530 non-null   object
 13  강의종류        3530 non-null   object
 14  강의유형        3530 non-null   object
 15  교강사명        3530 non-null   object
 16  강의요시        3530 non-null   object
 17  총수강인원       3530 non-null   int64
 18  (학부)수강인원    3530 non-null   int64
 19  (대학원)수강인원   3530 non-null   int64
 20  전체학년 제한인원   3530 non-null   int64
 21  전체학년 수강바구니  3530 non-null   int64
 22  전체학년 경쟁률    3530 non-null   float64
 23  4학년 제한인원    3530 non-null   int64
 24  4학년 수강바구니   3530 non-null   int64
 25  4학년 경쟁률     3530 non-null   float64
 26  3학년 제한인원    3530 non-null   int64
 27  3학년 수강바구니   3530 non-null   int64
 28  3학년 경쟁률     3530 non-null   float64
 29  2학년 제한인원    3530 non-null   float64
 30  2학년 수강바구니   3530 non-null   int64
 31  2학년 경쟁률     3530 non-null   float64
 32  1학년 제한인원    3530 non-null   float64
 33  1학년 수강바구니   3530 non-null   int64
 34  1학년 경쟁률     3530 non-null   float64
 35  요일          3530 non-null   object
 36  건물명         3530 non-null   object
 37  일주일 중 수업횟수  3530 non-null   float64
 38  시간대         3530 non-null   object
 39  층           3530 non-null   object
 40  분반 개수       3530 non-null   int64
 41  영어강의        3530 non-null   float64
 42  절대평가 유무     3530 non-null   int32
 43  점심시간 포함 개수  3530 non-null   int64
 44  고학년         3530 non-null   int64
dtypes: float64(10), int32(1), int64(18), object(16)
memory usage: 1.2+ MB

# 심교(저학년), 심교(고학년), 전선 데이터셋에서 비어있는 값이 ''을 갖는 데이터 전처리

In [80]:
empty_rows_sim_low = df_sim_low[(df_sim_low == '').any(axis=1)]

for index, row in empty_rows_sim_low.iterrows():
    empty_columns = row[row == ''].index.tolist()  # 빈 문자열이 있는 열 이름
    lecture_type = row['강의종류'] if '강의종류' in row.index else '강의종류 열 없음'  # '강의종류' 값 확인
    print(f"Row index {index}: Empty values in columns {empty_columns}, 강의종류 = {lecture_type}")

Row index 3: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 11: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 13: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 26: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 38: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 43: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 48: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 51: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 55: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 60: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 61: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 66: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 79: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 80: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 90: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 105: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 107: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 108: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 112: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 120: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 127: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 141: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 152: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 154: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 173: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 179: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 190: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 191: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 200: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 208: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 209: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 221: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 231: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 238: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 243: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 246: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 250: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 255: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 258: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 266: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 267: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 276: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 280: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 284: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 290: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 293: Empty values in columns ['건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 296: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 304: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 317: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 329: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 332: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 351: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 361: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 362: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 369: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 387: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 393: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 404: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 413: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 420: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 428: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 432: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 438: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 450: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 459: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 465: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 471: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 474: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 484: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 493: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 503: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 506: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 532: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 533: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 541: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 542: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 545: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 559: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 560: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 565: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 566: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝

In [81]:
empty_rows_sim_high = df_sim_high[(df_sim_high == '').any(axis=1)]

for index, row in empty_rows_sim_high.iterrows():
    empty_columns = row[row == ''].index.tolist()  # 빈 문자열이 있는 열 이름
    lecture_type = row['강의종류'] if '강의종류' in row.index else '강의종류 열 없음'  # '강의종류' 값 확인
    print(f"Row index {index}: Empty values in columns {empty_columns}, 강의종류 = {lecture_type}")

Row index 3: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 11: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 13: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 26: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 38: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 43: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 48: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 51: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 55: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 60: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 61: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 66: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 79: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 80: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 90: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 105: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 107: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 108: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 112: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 120: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 127: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 141: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 152: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 154: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 173: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 179: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 190: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 191: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 200: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 208: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 209: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 221: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 231: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 238: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 243: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 246: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 250: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 255: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 258: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 266: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 267: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 276: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 280: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 284: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 290: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 293: Empty values in columns ['건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 296: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 304: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 317: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 329: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 332: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 351: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 361: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 362: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 369: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 387: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 393: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 404: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 413: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 420: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 428: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 432: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 438: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 450: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 459: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 465: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝
Row index 471: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 474: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 484: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 493: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 503: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 506: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 532: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 533: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 541: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 542: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 545: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 559: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 560: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 565: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 566: Empty values in columns ['건물명', '층'], 강의종류 = e-러닝

In [82]:
# 심교가 e-러닝이면 공통적으로 건물명과 층수가 빈값이다. 요일에 구애받지 않기 때문에 건물명과 층 컬럼 제거
df_sim_low.drop(columns=['건물명','층'],inplace=True)
df_sim_high.drop(columns=['건물명','층'], inplace=True)

In [83]:
empty_rows_jeon = df_jeon[(df_jeon == '').any(axis=1)]

for index, row in empty_rows_jeon.iterrows():
    empty_columns = row[row == ''].index.tolist()  # 빈 문자열이 있는 열 이름
    lecture_type = row['강의종류'] if '강의종류' in row.index else '강의종류 열 없음'  # '강의종류' 값 확인
    print(f"Row index {index}: Empty values in columns {empty_columns}, 강의종류 = {lecture_type}")

Row index 291: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 369: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 651: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 1524: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 1567: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 1568: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 1815: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 2081: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 2082: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 2630: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 2754: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 2755: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 3009: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 3273: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝
Row index 3274: Empty values in columns ['요일', '건물명', '시간대', '층'], 강의종류 = e-러닝

In [107]:
empty_rows_sim_low = df_sim_low[(df_sim_low == '').any(axis=1)]
for index, row in empty_rows_sim_low.iterrows():
    empty_columns = row[row == ''].index.tolist()  # 빈 문자열인 열 이름 리스트
    print(f"Row index {index}: Empty values in columns {empty_columns}")

Row index 26: Empty values in columns ['요일', '시간대']
Row index 43: Empty values in columns ['요일', '시간대']
Row index 48: Empty values in columns ['요일', '시간대']
Row index 51: Empty values in columns ['요일', '시간대']
Row index 55: Empty values in columns ['요일', '시간대']
Row index 79: Empty values in columns ['요일', '시간대']
Row index 90: Empty values in columns ['요일', '시간대']
Row index 107: Empty values in columns ['요일', '시간대']
Row index 108: Empty values in columns ['요일', '시간대']
Row index 120: Empty values in columns ['요일', '시간대']
Row index 154: Empty values in columns ['요일', '시간대']
Row index 173: Empty values in columns ['요일', '시간대']
Row index 179: Empty values in columns ['요일', '시간대']
Row index 190: Empty values in columns ['요일', '시간대']
Row index 191: Empty values in columns ['요일', '시간대']
Row index 238: Empty values in columns ['요일', '시간대']
Row index 243: Empty values in columns ['요일', '시간대']
Row index 246: Empty values in columns ['요일', '시간대']
Row index 250: Empty values in columns ['요일', '시간대']
Row index 255: Empty values in columns ['요일', '시간대']
Row index 258: Empty values in columns ['요일', '시간대']
Row index 280: Empty values in columns ['요일', '시간대']
Row index 293: Empty values in columns ['요일', '시간대']
Row index 304: Empty values in columns ['요일', '시간대']
Row index 332: Empty values in columns ['요일', '시간대']
Row index 361: Empty values in columns ['요일', '시간대']
Row index 362: Empty values in columns ['요일', '시간대']
Row index 369: Empty values in columns ['요일', '시간대']
Row index 393: Empty values in columns ['요일', '시간대']
Row index 404: Empty values in columns ['요일', '시간대']
Row index 413: Empty values in columns ['요일', '시간대']
Row index 420: Empty values in columns ['요일', '시간대']
Row index 428: Empty values in columns ['요일', '시간대']
Row index 432: Empty values in columns ['요일', '시간대']
Row index 438: Empty values in columns ['요일', '시간대']
Row index 450: Empty values in columns ['요일', '시간대']
Row index 459: Empty values in columns ['요일', '시간대']
Row index 471: Empty values in columns ['요일', '시간대']
Row index 474: Empty values in columns ['요일', '시간대']
Row index 484: Empty values in columns ['요일', '시간대']
Row index 493: Empty values in columns ['요일', '시간대']
Row index 503: Empty values in columns ['요일', '시간대']
Row index 506: Empty values in columns ['요일', '시간대']
Row index 532: Empty values in columns ['요일', '시간대']
Row index 533: Empty values in columns ['요일', '시간대']
Row index 541: Empty values in columns ['요일', '시간대']
Row index 542: Empty values in columns ['요일', '시간대']
Row index 545: Empty values in columns ['요일', '시간대']
Row index 559: Empty values in columns ['요일', '시간대']
Row index 560: Empty values in columns ['요일', '시간대']
Row index 565: Empty values in columns ['요일', '시간대']

In [91]:
df_sim_low.loc[293, '강의요시'] = '(온라인(녹화))(e-러닝)'  # '강의요시' 컬럼의 값 변경
df_sim_low.loc[293, '요일'] = ''    # '요일' 컬럼의 값 변경

In [96]:
empty_rows_sim_high = df_sim_high[(df_sim_high == '').any(axis=1)]

for index, row in empty_rows_sim_high.iterrows():
    empty_columns = row[row == ''].index.tolist()  # 빈 문자열이 있는 열 이름
    print(f"Row index {index}: Empty values in columns {empty_columns}")

Row index 26: Empty values in columns ['요일', '시간대']
Row index 43: Empty values in columns ['요일', '시간대']
Row index 48: Empty values in columns ['요일', '시간대']
Row index 51: Empty values in columns ['요일', '시간대']
Row index 55: Empty values in columns ['요일', '시간대']
Row index 79: Empty values in columns ['요일', '시간대']
Row index 90: Empty values in columns ['요일', '시간대']
Row index 107: Empty values in columns ['요일', '시간대']
Row index 108: Empty values in columns ['요일', '시간대']
Row index 120: Empty values in columns ['요일', '시간대']
Row index 154: Empty values in columns ['요일', '시간대']
Row index 173: Empty values in columns ['요일', '시간대']
Row index 179: Empty values in columns ['요일', '시간대']
Row index 190: Empty values in columns ['요일', '시간대']
Row index 191: Empty values in columns ['요일', '시간대']
Row index 238: Empty values in columns ['요일', '시간대']
Row index 243: Empty values in columns ['요일', '시간대']
Row index 246: Empty values in columns ['요일', '시간대']
Row index 250: Empty values in columns ['요일', '시간대']
Row index 255: Empty values in columns ['요일', '시간대']
Row index 258: Empty values in columns ['요일', '시간대']
Row index 280: Empty values in columns ['요일', '시간대']
Row index 293: Empty values in columns ['시간대']
Row index 304: Empty values in columns ['요일', '시간대']
Row index 332: Empty values in columns ['요일', '시간대']
Row index 361: Empty values in columns ['요일', '시간대']
Row index 362: Empty values in columns ['요일', '시간대']
Row index 369: Empty values in columns ['요일', '시간대']
Row index 393: Empty values in columns ['요일', '시간대']
Row index 404: Empty values in columns ['요일', '시간대']
Row index 413: Empty values in columns ['요일', '시간대']
Row index 420: Empty values in columns ['요일', '시간대']
Row index 428: Empty values in columns ['요일', '시간대']
Row index 432: Empty values in columns ['요일', '시간대']
Row index 438: Empty values in columns ['요일', '시간대']
Row index 450: Empty values in columns ['요일', '시간대']
Row index 459: Empty values in columns ['요일', '시간대']
Row index 471: Empty values in columns ['요일', '시간대']
Row index 474: Empty values in columns ['요일', '시간대']
Row index 484: Empty values in columns ['요일', '시간대']
Row index 493: Empty values in columns ['요일', '시간대']
Row index 503: Empty values in columns ['요일', '시간대']
Row index 506: Empty values in columns ['요일', '시간대']
Row index 532: Empty values in columns ['요일', '시간대']
Row index 533: Empty values in columns ['요일', '시간대']
Row index 541: Empty values in columns ['요일', '시간대']
Row index 542: Empty values in columns ['요일', '시간대']
Row index 545: Empty values in columns ['요일', '시간대']
Row index 559: Empty values in columns ['요일', '시간대']
Row index 560: Empty values in columns ['요일', '시간대']
Row index 565: Empty values in columns ['요일', '시간대']

In [97]:
df_sim_high.loc[293]

년도                                                         2023
학기                                                          2학기
학수번호                                                  BKSA58378
이수구분                                                         심교
과목번호                                                       1614
교과목명                                               SF와융합인문학적상상력
영문교과목명        SF AND CREATIVE IMAGINATION IN CONVERGING HUMA...
학점                                                            2
시간                                                            2
개설학년                                                         전체
수강학과                                                         전체
개설학과                                                     상허교양대학
제청학과                                                     상허교양대학
강의종류                                                       e-러닝
강의유형                                                         이론
교양영역                                                      사고력증진
교강사명                                                        양선진
강의요시                                         금23(온라인(녹화))(e-러닝)
총수강인원                                                        84
(학부)수강인원                                                     84
(대학원)수강인원                                                     0
전체학년 제한인원                                                   600
전체학년 수강바구니                                                   42
전체학년 경쟁률                                                   0.07
4학년 제한인원                                                    120
4학년 수강바구니                                                    30
4학년 경쟁률                                                    0.25
3학년 제한인원                                                    120
3학년 수강바구니                                                     4
3학년 경쟁률                                                    0.03
요일                                                            금
일주일 중 수업횟수                                                  1.0
시간대
분반 개수                                                         1
영어강의                                                        0.0
절대평가 유무                                                       1
점심시간 포함 개수                                                    0
고학년 경쟁률                                                0.141667
Name: 293, dtype: object

In [98]:
df_sim_high.loc[293, '강의요시'] = '(온라인(녹화))(e-러닝)'  # '강의요시' 컬럼의 값 변경
df_sim_high.loc[293, '요일'] = ''    # '요일' 컬럼의 값 변경

In [108]:
# CSV 파일로 저장
df_sim_low.to_csv('심교(저학년) 패널 데이터.csv', index=False, encoding='utf-8-sig')
df_sim_high.to_csv('심교(고학년) 패널 데이터.csv', index=False, encoding='utf-8-sig')
df_jeon.to_csv('전선 패널 데이터.csv', index=False, encoding='utf-8-sig')